<div class="product-more-info accordion"{% if block.settings.product_product_tab_margin != blank %} style="margin:{{ block.settings.product_product_tab_margin }}"{% endif %}>
	<div class="product-more-info__inner" id="accordion">
		{%- if full_description != blank and block.settings.product_tab_selector == 'description' -%}
			<div class="accordion-item panel panel-default">
				<a class="collapse_title collapsed" data-toggle="collapse" data-parent="#accordion" href="#full_description"><span>{{ block.settings.tab_title }}</span></a>
				<div id="full_description" class="panel-collapse collapse">
					<div class="panel-body">
						{{ full_description }}
					</div>
				</div>
			</div>
		{%- endif -%}
		{%- if block.settings.product_tab_selector == 'custom' -%}
		<div class="accordion-item panel panel-default">
			<a class="collapse_title collapsed" data-toggle="collapse" data-parent="#accordion" href="#js-tabs-{{ block.id }}"><span>{{ block.settings.tab_title }}</span></a>
			<div id="js-tabs-{{ block.id }}" class="panel-collapse collapse">
				<div class="panel-body">
					{{ block.settings.tab_content }}
				</div>
			</div>
		</div>
		{%- endif -%}
		{%- if settings.product_reviews_enable and block.settings.product_tab_selector == 'review' -%}
			<div class="accordion-item panel panel-default">
				<a class="collapse_title collapsed" data-toggle="collapse" data-parent="#accordion" href="#reviews"><span>{{ block.settings.tab_title }}</span></a>
				<div id="reviews" class="panel-collapse collapse">
					<div class="panel-body">
						<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
					</div>
				</div>
			</div>
		{%- endif -%}
	</div>
</div>