{%- if shop.customer_accounts_enabled or section.settings.header_user_link_list != blank -%}
<div class="header-account">
	{%- if customer -%}
		{%- if section.settings.header_user_title != blank -%}
			<div class="header-account__title dropdown-toggle" data-toggle="dropdown">
				<span class="text-header-right">{{ section.settings.header_user_title | escape }}</span>
			</div>
		{%- endif -%}
		<div class="header-account__content dropdown-menu dropdown-menu-right">
			<ul class="header-account__list">
				{%- if shop.customer_accounts_enabled -%}
					{% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
					{%- assign login_html = 'layout.header.login_html' | t:fullname:fullname -%}
					{%- assign logout = 'layout.header.logout' | t -%}
					<li class="header-account__user">
						<a class="account" rel="nofollow" href="{{ routes.account_url }}" title="{{ fullname }}">{{ login_html }}</a>
					</li>
					<li class="header-account__user">
						<a href="{{ routes.account_logout_url }}" title="{{ logout }}">{{ logout }}</a>
					</li>
				{%- endif -%}
				{%- assign header_user_menu = section.settings.header_user_link_list -%}
				{%- for menu_link in linklists[header_user_menu].links -%}
					<li><a href="{{ menu_link.url }}" title="{{ menu_link.title | escape }}">{{ menu_link.title }}</a></li>
				{%- endfor -%}
			</ul>
		</div>
	{%- else -%}
		{% if template contains 'customers' %}
			<a class="login-account" href="{{ routes.account_url }}">
				<span class="text-header-right">{{ section.settings.header_user_title | escape }}</span>
				<svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.8967 13.4167C7.19833 13.4167 4.18833 10.4067 4.18833 6.70833C4.18833 3.01 7.19833 0 10.8967 0C14.595 0 17.605 3.01 17.605 6.70833C17.605 10.4067 14.595 13.4167 10.8967 13.4167ZM10.8967 1.75C8.16667 1.75 5.93833 3.97833 5.93833 6.70833C5.93833 9.43833 8.16667 11.6667 10.8967 11.6667C13.6267 11.6667 15.855 9.43833 15.855 6.70833C15.855 3.97833 13.6267 1.75 10.8967 1.75ZM20.9183 25.0833C20.44 25.0833 20.0433 24.6867 20.0433 24.2083C20.0433 20.1833 15.9367 16.9167 10.8967 16.9167C5.85667 16.9167 1.75 20.1833 1.75 24.2083C1.75 24.6867 1.35333 25.0833 0.875 25.0833C0.396667 25.0833 0 24.6867 0 24.2083C0 19.2267 4.88833 15.1667 10.8967 15.1667C16.905 15.1667 21.7933 19.2267 21.7933 24.2083C21.7933 24.6867 21.3967 25.0833 20.9183 25.0833Z" fill="white"/>
				</svg>
			</a>
		{% else %}
			<a class="login-account" data-login-account href="#">
				<span class="text-header-right">{{ section.settings.header_user_title | escape }}</span>
			</a>
			{% include 'login-register' %}
		{%- endif -%}
	{%- endif -%}
</div>
{%- endif -%}
