<div class="header-mobile">
	<div class="header-top-mobile">
		<div class="container">
			<div class="header-center__inner">
				<div class="button-menu">
					<button class="js-menu-mobile btn menu-mobile__btn" type="button">
						<i class="feather-menu"></i>
					</button>
					<div class="search-mobile">
						{%- if section.settings.show_header_search -%}
							<div class="search-toggle"><i class="feather-search"></i></div>
						{%- endif -%}
					</div>
				</div>
				<div class="header-logo" itemscope itemtype="http://schema.org/Organization">
					{%- if section.settings.logo -%}
						<a href="/" itemprop="url" class="header-logo__link">
							<img class="header-logo__img"
								src="{{ section.settings.logo | img_url: 'master' }}" 
								srcset="{{ section.settings.logo | img_url: 'master' }}"
								alt="{{ section.settings.logo.alt | default: shop.name }}"
								itemprop="logo">
						</a>
					{%- else -%}
						<a href="/" itemprop="url" class="header-logo__link header-logo__link--text">{{ shop.name }}</a>
					{%- endif -%}
				</div>
				<div class="header-right">
					{%- if section.settings.show_header_wishlist -%}
					<div class="wishlist-mobile">
						<a href="/pages/wishlist" title="wishlist" data-count-wishlist><i class="feather-heart"><span class="count"></span></i></a>
					</div>
					{%- endif -%}
					{%- if section.settings.show_header_cart -%}
						{% include 'header-cart' %}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom-fixed">
		<div class="home-mobile">
			<a href="\" title="home"><i class="feather-home"></i><span>{{ 'layout.header.home' | t }}</span></a>
		</div>
		<div class="shop-mobile">
			<a href="{{ routes.all_products_collection_url }}" title="shop"><i class="feather-grid"></i><span>{{ 'layout.header.shop' | t }}</span></a>
		</div>
		{%- if section.settings.show_header_search -%}
		<div class="search-mobile">
			<div class="search-toggle"><i class="feather-search"></i><span>{{ 'layout.header.search' | t }}</span></div>
				{% include 'header-search-toggle' %}
		</div>
		{%- endif -%}
		<div class="account-mobile">
			<a href="{{ routes.account_login_url }}" title="my account"><i class="feather-user"></i><span>{{ 'layout.header.account' | t }}</span></a>
		</div>
		{%- if section.settings.show_header_wishlist -%}
		<div class="wishlist-mobile">
			<a href="/pages/wishlist" title="wishlist" data-count-wishlist><i class="feather-heart"><span class="count"></span></i><span>{{ 'layout.header.wishlist' | t }}</span></a>
		</div>
		{%- endif -%}
	</div>
	{% include 'menu-mobile' %}
</div>