{%- if shop.customer_accounts_enabled or section.settings.header_user_link_list != blank -%}
<div class="header-account">
	{%- if customer -%}
		{%- if section.settings.header_user_title != blank -%}
			<div class="header-account__title dropdown-toggle" data-toggle="dropdown">
				<span class="text-header-right">{{ section.settings.header_user_title | escape }}</span>
			</div>
		{%- endif -%}
		<div class="header-account__content dropdown-menu dropdown-menu-right">
			<ul class="header-account__list">
				{%- if shop.customer_accounts_enabled -%}
					{% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
					{%- assign login_html = 'layout.header.login_html' | t:fullname:fullname -%}
					{%- assign logout = 'layout.header.logout' | t -%}
					<li class="header-account__user">
						<a class="account" rel="nofollow" href="{{ routes.account_url }}" title="{{ fullname }}">{{ login_html }}</a>
					</li>
					<li class="header-account__user">
						<a href="{{ routes.account_logout_url }}" title="{{ logout }}">{{ logout }}</a>
					</li>
				{%- endif -%}
				{%- assign header_user_menu = section.settings.header_user_link_list -%}
				{%- for menu_link in linklists[header_user_menu].links -%}
					<li><a href="{{ menu_link.url }}" title="{{ menu_link.title | escape }}">{{ menu_link.title }}</a></li>
				{%- endfor -%}
			</ul>
		</div>
	{%- else -%}
		{% if template contains 'customers' %}
			<a class="login-account" href="{{ routes.account_url }}">
				<span class="text-header-right">{{ section.settings.header_user_title | escape }}</span>
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.0002 14.8752C10.3018 14.8752 7.29185 11.8652 7.29185 8.16683C7.29185 4.4685 10.3018 1.4585 14.0002 1.4585C17.6985 1.4585 20.7085 4.4685 20.7085 8.16683C20.7085 11.8652 17.6985 14.8752 14.0002 14.8752ZM14.0002 3.2085C11.2702 3.2085 9.04185 5.43683 9.04185 8.16683C9.04185 10.8968 11.2702 13.1252 14.0002 13.1252C16.7302 13.1252 18.9585 10.8968 18.9585 8.16683C18.9585 5.43683 16.7302 3.2085 14.0002 3.2085ZM24.0219 26.5418C23.5435 26.5418 23.1469 26.1452 23.1469 25.6668C23.1469 21.6418 19.0402 18.3752 14.0002 18.3752C8.96018 18.3752 4.85352 21.6418 4.85352 25.6668C4.85352 26.1452 4.45685 26.5418 3.97852 26.5418C3.50018 26.5418 3.10352 26.1452 3.10352 25.6668C3.10352 20.6852 7.99185 16.6252 14.0002 16.6252C20.0085 16.6252 24.8969 20.6852 24.8969 25.6668C24.8969 26.1452 24.5002 26.5418 24.0219 26.5418Z" fill="white"/>
				</svg>
			</a>
		{% else %}
			<a class="login-account" data-login-account href="#">
				<span class="text-header-right">{{ section.settings.header_user_title | escape }}</span>
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.0002 14.8752C10.3018 14.8752 7.29185 11.8652 7.29185 8.16683C7.29185 4.4685 10.3018 1.4585 14.0002 1.4585C17.6985 1.4585 20.7085 4.4685 20.7085 8.16683C20.7085 11.8652 17.6985 14.8752 14.0002 14.8752ZM14.0002 3.2085C11.2702 3.2085 9.04185 5.43683 9.04185 8.16683C9.04185 10.8968 11.2702 13.1252 14.0002 13.1252C16.7302 13.1252 18.9585 10.8968 18.9585 8.16683C18.9585 5.43683 16.7302 3.2085 14.0002 3.2085ZM24.0219 26.5418C23.5435 26.5418 23.1469 26.1452 23.1469 25.6668C23.1469 21.6418 19.0402 18.3752 14.0002 18.3752C8.96018 18.3752 4.85352 21.6418 4.85352 25.6668C4.85352 26.1452 4.45685 26.5418 3.97852 26.5418C3.50018 26.5418 3.10352 26.1452 3.10352 25.6668C3.10352 20.6852 7.99185 16.6252 14.0002 16.6252C20.0085 16.6252 24.8969 20.6852 24.8969 25.6668C24.8969 26.1452 24.5002 26.5418 24.0219 26.5418Z" fill="white"/>
				</svg>
			</a>
			{% include 'login-register' %}
		{%- endif -%}
	{%- endif -%}
</div>
{%- endif -%}
