<section class="page-account">
	<h1>{{ 'customer.register.title' | t }}</h1>
	<div class="container">
		<div class="page-account__inner">
			<div class="register-form-container" data-section-id="login-register" data-section-type='login-register'>
				<div class="content-form-register">
					<div class="tab-content login-register__tab-content">
						<div id="customers-register" role="tabpanel">
							<div class="register-form">
								{% form 'create_customer' %}
									{{ form.errors | default_errors }}
									<div class="form-group">
										<label class="d-none" for="firstName">{{ 'customer.register.first_name' | t }}</label>
										<input id="firstName" class="form-control" type="text" name="customer[first_name]"
											{% if form.first_name %}value="{{ form.first_name }}"{% endif %}
											placeholder="{{ 'customer.register.first_name' | t }}"
											autocapitalize="words"
											autofocus/>
									</div>
									<div class="form-group">
										<label class="d-none" for="lastName">{{ 'customer.register.last_name' | t }}</label>
										<input id="lastName" class="form-control" type="text" name="customer[last_name]"
											{% if form.last_name %}value="{{ form.last_name }}"{% endif %}
											placeholder="{{ 'customer.register.last_name' | t }}"
											autocapitalize="words"/>
									</div>
									<div class="form-group">
										<label class="d-none" for="registerEmail">{{ 'customer.login.password' | t }}</label>
										<input id="registerEmail" class="form-control{% if form.errors contains 'email' %} is-invalid{% endif %}"
											type="email" name="customer[email]" placeholder="{{ 'customer.register.email' | t }}"
											{% if form.email %} value="{{ form.email }}"{% endif %}
											autocorrect="off" autocapitalize="off" required/>
									</div>
									<div class="form-group form-group--pasword">
										<label class="d-none" for="registerPassword">{{ 'customer.register.email' | t }}</label>
										<input id="registerPassword" class="form-control{% if form.errors contains 'password' %} is-invalid{% endif %}"
											name="customer[password]" type="password" placeholder="{{ 'customer.register.password' | t }}" required/>
										<a href="javascript:void(0)" class="js-password-toggle password-toggle">
											<span class="text-show-password"><i class="feather-eye"></i></span>
											<span class="text-hide-password"><i class="feather-eye-off"></i></span>
										</a>
									</div>
									<div class="description">{{ 'customer.login.new_customer_desc' | t }}</div>
									<div class="form-button">
										<input type="submit" class="btn btn-primary" value="{{ 'customer.register.submit' | t }}">
									</div>
									<div class="login-account"><a href="{{ routes.account_login_url }}">{{ 'customer.login.sign_in' | t }}</a></div>
								{% endform %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
