<section class="page-account">
  <div class="container">
    <div class="page-account__inner activate-account">
      <header class="page-header">
        <h1 class="page-title">{{ 'customer.reset_password.title' | t }}</h1>
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
      </header>
      <div class="activate-account__form">
        {% form 'reset_customer_password' %}
          {{ form.errors | default_errors }}
          <div class="form-group form-group--pasword">
            <label class="d-none" for="resetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input id="resetPassword"
              class="form-control{% if form.errors contains 'password' %} is-invalid{% endif %}"
              name="customer[password]"
              value=""
              type="password"
              placeholder="{{ 'customer.reset_password.password' | t }}"
              required/>
            <a href="javascript:void(0)" class="js-password-toggle password-toggle">
              <span class="text-show-password"><i class="feather-eye"></i></span>
              <span class="text-hide-password"><i class="feather-eye-off"></i></span>
            </a>
          </div>
          <div class="form-group form-group--pasword">
            <label class="d-none" for="passwordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input id="passwordConfirmation"
              class="form-control{% if form.errors contains 'password_confirmation' %} is-invalid{% endif %}"
              name="customer[password_confirmation]"
              value=""
              type="password"
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
              required/>
            <a href="javascript:void(0)" class="js-password-toggle password-toggle">
              <span class="text-show-password"><i class="feather-eye"></i></span>
              <span class="text-hide-password"><i class="feather-eye-off"></i></span>
            </a>
          </div>
          <div class="form-button">
            <input type="submit" class="btn btn-primary" value="{{ 'customer.reset_password.submit' | t }}">
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>
