{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{%- assign margin = '' -%}
{%- if section.settings.margin != blank -%}
  {%- capture margin -%}margin: {{ section.settings.margin }};{%- endcapture -%}
{%- endif -%}

{%- assign display_map = false -%}
{%- assign onboarding = false -%}
{%- if section.settings.api_key == blank -%}
  {%- assign onboarding = true -%}
{%- endif -%}
{%- if section.settings.api_key != blank -%}
  {%- assign display_map = true -%}
{%- endif -%}

{%- assign bg_setting = '' -%}
{%- if section.settings.bg_image != blank -%}
	{%- capture bg_setting -%}
		background-position:{{ section.settings.bg_position }};background-size:{{ section.settings.bg_size }};
		{%- if section.settings.bg_fixed != blank -%}
			background-attachment: fixed;
		{%- endif -%}
	{%- endcapture -%}
{%- endif -%}

{%- assign style_image 			= section.settings.style_image -%}
{%- assign contact_image 		= section.settings.contact_image -%}
{%- assign contact_svg 			= section.settings.contact_svg -%}

{%- assign bg_full = '' -%}
{%- if section.settings.bg_image != blank and section.settings.bg_width == 'full' -%}
	{%- capture bg_full -%}
		style="background-image: url('{{ section.settings.bg_image | img_url: ''}}');{{ bg_setting }}"
	{%- endcapture -%}
{%- endif -%}

{%- assign bg_content = '' -%}
{%- if section.settings.bg_image != blank and section.settings.bg_width == 'content' -%}
	{%- capture bg_content -%}
		style="background-image: url('{{ section.settings.bg_image | img_url: ''}}');{{ bg_setting }}"
	{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
	{%- if section.settings.fullwidth == blank and section.settings.max_width != blank and width_container > 1200 -%}
		@media (max-width: {{ section.settings.max_width }}) and (min-width: 1200px){
			#shopify-section-{{ section.id }} .bwp-container{
				padding-left:30px;
				padding-right:30px;
			}
		}
	{%- endif -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .kretoss-section--form_contact{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .kretoss-section--form_contact{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .kretoss-section--form_contact{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .kretoss-section--form_contact{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}

<section class="kretoss-section kretoss-section--form_contact kretoss-section--{{ section.id }}" {{ bg_full }}>
	<div class="{{ container }}" {{ max_width }}>
		<div class="kretoss-section__inner" {{ bg_content }}>
			<div class="kretoss-section__content boxshadow-contact">
				<div class="page-contact__form">
					{%- if contact_svg != blank or style_image !=blank -%}
							<div class="contact-icon" style="fill:{{ section.settings.color_svg }};max-width:{{ section.settings.font_icon }};" >
								{%- if style_image == 'image' -%}
									{%- if contact_image -%}
										{% include 'img-global' with image: contact_image, class: "featured-banner__img", effect: "fade-in" %}
									{%- endif -%}
								{%- else -%}
									{%- if contact_svg -%}
										{{ contact_svg }}
									{%- endif -%}
								{%- endif -%}
							</div>
						{%- endif -%}
					{%- if section.settings.heading != blank -%}
						<h2 class="title-contact">{{ section.settings.heading }}</h2>
					{%- endif -%}
					{%- if section.settings.sub_heading != blank -%}
						<div class="sub-title">{{ section.settings.sub_heading }}</div>
					{%- endif -%}
					{% form 'contact' %}
						{% if form.posted_successfully? %}
							<p class="alert alert-success">
								{{ 'contact.form.post_success' | t }}
							</p>
						{% endif %}
						{{ form.errors | default_errors }}
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<input id="contactFormName" class="form-control" type="text" name="contact[{{ 'contact.form.name' | t }}]"
										value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
										placeholder="Your name"
										autocapitalize="words"/>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<input id="contactFormEmail" class="form-control{% if form.errors contains 'email' %} is-invalid{% endif %}"
										type="email" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
										placeholder="Your email" autocorrect="off" autocapitalize="off" required/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input id="contactFormPhone" class="form-control" type="tel" name="contact[{{ 'contact.form.phone' | t }}]"
								value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
								placeholder="Phone Number"
								pattern="[0-9\-]*"/>
						</div>
						<div class="form-group">
							<textarea id="contactFormMessage" class="form-control {% if form.errors contains 'body' %} is-invalid{% endif %}"
								rows="10" name="contact[{{ 'contact.form.message' | t }}]" rows="4"
								placeholder="Your message..."
								required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
						</div>
						<div class="form-button">
							<input type="submit" class="btn btn-primary" value="{{ 'contact.form.send' | t }}">
						</div>
					{% endform %}
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Form Contact",
	"class": "kretoss-framework",
	"settings": [
		{
			"type": "select",
			"id": "style_image",
			"label": "Style Image",
			"options": [
				{
					"value": "svg",
					"label": "SVG"
				},
				{
					"value": "image",
					"label": "Image"
				}
			],
			"default": "svg"
		},
		{
			"type": "html",
			"id": "contact_svg",
			"label": "SVG"
		},
		{
			"type": "image_picker",
			"id": "contact_image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "font_icon",
			"label": "Font size Icon",
			"default": "25px"
		},
		{
			"type": "color",
			"id": "color_svg",
			"label": "Color Svg",
			"default": "#000000"
		},
		{
			"type": "header",
			"content": "Layout settings"
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Width container",
			"info": "Default: 1440px"
		},
		{
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Fullwidth"
		},
		{
			"type": "text",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "text",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "header",
			"content": "General Settings"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Send Us Your Questions!"
		},
		{
			"type": "textarea",
			"id": "sub_heading",
			"label": "Sub Heading"
		}
	]
}
{% endschema %}
