{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .kretoss-section--image-text{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .kretoss-section--image-text{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .kretoss-section--image-text{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .kretoss-section--image-text{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}
<section class="kretoss-section kretoss-section--image-text kretoss-section--{{ section.id }} overflow-hidden" >
	<div class="{{ container }}" {{ max_width }}>
		<div class="kretoss-section__inner">
			<div class="kretoss-section__content">
				<div class="image-text">
					<div class="col-content">
						<div class="image-text__image">
							{%- if section.settings.title -%}<h2>{{ section.settings.title }}</h2>{%- endif -%}
							{%- if section.settings.desc -%}<div class="desc">{{ section.settings.desc }}</div>{%- endif -%}
							{%- if section.settings.html -%}<div class="content">{{ section.settings.html }}</div>{%- endif -%}
						</div>
					</div>
					<div class="col-image">
						{%- if section.settings.image -%}
							{% include 'img-global' with image: section.settings.image, class: "image-text__img-bg", effect: "fade-in" %}
						{%- else -%}
							<img class="lazyload fade-in" src="https://placehold.jp/680x490.png" />
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% schema %}
{
  "name": "Image with text",
  "class": "kretoss-framework",
  "settings": [
    {
		"type": "header",
		"content": "Layout settings"
	},
	{
		"type": "text",
		"id": "max_width",
		"label": "Width container",
		"info": "Default: 1440px"
	},
	{
		"type": "checkbox",
		"id": "fullwidth",
		"label": "Fullwidth"
	},
	{
		"type": "text",
		"id": "padding",
		"label": "Padding",
		"placeholder": "0px 0px 0px 0px",
		"info":"Screen: desktop | 1200px | 991px | 767px"
	},
	{
		"type": "text",
		"id": "margin",
		"label": "Margin",
		"placeholder": "0px 0px 0px 0px",
		"info":"Screen: desktop | 1200px | 991px | 767px"
	},
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
	{
      "type": "textarea",
      "id": "desc",
      "label": "Description",
      "default": "Image with text"
    },
    {
      "type": "html",
      "id": "html",
      "label": "HTML"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "5. Image"
    }
  ]
}
{% endschema %}
