{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{%- assign effect = section.settings.effect -%}
{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}

{%- style -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .bwp-widget-banner {
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if section.blocks.size > 0 -%}
		{% for block in section.blocks %}
			{% assign width_image 		= block.settings.width_image | split: "|" %}
			{% assign padding_image 	= block.settings.padding_image | split: "|" %}
			{% assign padding_content 	= block.settings.padding_content | split: "|" %}
			#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }}{
				max-width: {{ width_image[0] }};flex:0 0 {{ width_image[0] }};
				{%- if padding_image[0] != blank -%}padding:{{ padding_image[0] }};{%- endif -%}
			}
			#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }} .banner-wrapper-infor{
				{%- if padding_content[0] != blank -%}
					padding: {{ padding_content[0] }};
				{%- endif -%}
				{%- if block.settings.vertical_position == 'middle' -%}
					top: 50%;transform: translateY(-50%);
				{%- elsif block.settings.vertical_position == 'top' -%}
					top: 0;
				{%- elsif block.settings.vertical_position == 'bottom' -%}
					bottom: 0;
				{%- endif -%}
				justify-content: {{ block.settings.horizontal_position }};text-align: {{ block.settings.text_align }};
			}
		{% endfor %}
	{%- endif -%}
	@media (max-width:1200px){
		{%- if margin[1] != blank or padding[1] != blank -%}
			#shopify-section-{{ section.id }} .bwp-widget-banner{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		{%- endif -%}
		{%- if section.blocks.size > 0 -%}
			{%- for block in section.blocks -%}
				{%- assign width_image 		= block.settings.width_image | split: "|" -%}
				{% assign padding_content 	= block.settings.padding_content | split: "|" %}
				{% assign padding_image 	= block.settings.padding_image | split: "|" %}
				{%- if width_image[1] != blank or padding_image[1] != blank -%}
					#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }}{
						{%- if width_image[1] != blank -%}max-width: {{ width_image[1] }};flex:0 0 {{ width_image[1] }};{%- endif -%}
						{%- if padding_image[1] != blank -%}padding:{{ padding_image[1] }};{%- endif -%}
					}
				{%- endif -%}
				{%- if padding_content[1] != blank -%}
					#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }} .banner-wrapper-infor{
						padding:{{ padding_content[1] }};
					}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
	}
	@media (max-width:991px){
		{%- if margin[2] != blank or padding[2] != blank -%}
			#shopify-section-{{ section.id }} .bwp-widget-banner{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		{%- endif -%}
		{%- if section.blocks.size > 0 -%}
			{%- for block in section.blocks -%}
				{%- assign width_image 		= block.settings.width_image | split: "|" -%}
				{% assign padding_content 	= block.settings.padding_content | split: "|" %}
				{% assign padding_image 	= block.settings.padding_image | split: "|" %}
				{%- if width_image[2] != blank or  padding_image[2] != blank -%}
					#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }}{
						{%- if width_image[2] != blank -%}max-width: {{ width_image[2] }};flex:0 0 {{ width_image[2] }};{%- endif -%}
						{%- if padding_image[2] != blank -%}padding:{{ padding_image[2] }};{%- endif -%}
					}
				{%- endif -%}
				{%- if padding_content[2] != blank -%}
					#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }} .banner-wrapper-infor{
						padding: {{ padding_content[2] }};
					}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
	}
	@media (max-width:767px){
		{%- if margin[3] != blank or padding[3] != blank -%}
			#shopify-section-{{ section.id }} .bwp-widget-banner{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		{%- endif -%}
		{%- if section.blocks.size > 0 -%}
			{%- for block in section.blocks -%}
				{%- assign width_image 		= block.settings.width_image | split: "|" -%}
				{% assign padding_content 	= block.settings.padding_content | split: "|" %}
				{% assign padding_image 	= block.settings.padding_image | split: "|" %}
				{%- if width_image[3] != blank or padding_image[3] != blank -%}
					#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }}{
						{%- if width_image[3] != blank -%}max-width: {{ width_image[3] }};flex:0 0 {{ width_image[3] }};{%- endif -%}
						{%- if padding_image[3] != blank -%}padding:{{ padding_image[3] }};{%- endif -%}
					}
				{%- endif -%}
				{%- if padding_content[3] != blank -%}
					#shopify-section-{{ section.id }} .bwp-widget-banner .col-banner.banner-{{ forloop.index }} .banner-wrapper-infor{
						padding: {{ padding_content[3] }};
					}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
	}
{%- endstyle -%}

{%- if section.settings.show -%}
<section class="kretoss-section bwp-widget-banner kretoss-section--{{ section.id }} overflow-hidden">
	<div class="{{ container }}" {{ max_width }}>
		<div class="kretoss-section__inner">
			<div class="kretoss-section__content">
				{%- if section.blocks.size > 0 -%}
					<div class="row--banners">
						{%- for block in section.blocks -%}
							{%- assign color_bg = block.settings.color_bg -%}
							{%- assign image 		= block.settings.image -%}
							{%- assign title 		= block.settings.title -%}
							{%- assign image_url 	= block.settings.url -%}
							{%- assign subtitle		= block.settings.sub_title -%}
							{%- assign description 	= block.settings.description -%}
							{%- assign button 		= block.settings.button -%}
							<div class="col-banner banner-{{ forloop.index }}">
								<div class="featured-banner {{ effect }}" style="background-color: {{ color_bg }};">
									<div class="bwp-image" >
										<a href="{{ image_url }}">
											{%- if image -%}
												{% include 'img-global' with image: image, class: "featured-banner__img", effect: "fade-in" %}
											{%- endif -%}
										</a>
									</div>
									<div class="banner-wrapper-infor">
										<div class="info">
											<div class="content">
												{%- if subtitle != blank -%}
													<div class="bwp-image-subtitle" style="color:{{ block.settings.color_sub_title }}">{{ subtitle }}</div>
												{%- endif -%}
												{%- if title != blank -%}
													<h3 class="title-banner" style="color:{{ block.settings.color_title }}">{{ title }}</h3>
												{%- endif -%}
												{%- if description != blank -%}
													<div class="bwp-image-description" style="color:{{ block.settings.color_description }}">{{ description }}</div>
												{%- endif -%}
												{%- if button != blank -%}
													<a class="bwp-button {{ block.settings.style_button }}" href="{{ image_url }}"><span>{{ button }}</span></a>
												{%- endif -%}
											</div>
										</div>
									</div>
								</div>
							</div>
						{%- endfor -%}
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</section>
{%- endif -%}

{% schema %}
{
	"name": "Kretoss Banner",
	"class": "kretoss-framework",
	"settings": [
		{
			"type": "header",
			"content": "Layout settings"
		},
		{
			"type": "checkbox",
			"id": "show",
			"label": "Show Banner",
			"default": true
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Width container",
			"info": "Default: 1440px"
		},
		{
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Fullwidth"
		},
		{
			"type": "text",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "text",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "header",
			"content": "General Settings"
		},
		{
			"type": "select",
			"id": "effect",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "effect-one",
					"label": "Zoom in"
				},
				{
					"value": "effect-two",
					"label": "Zoom out"
				},
				{
					"value": "effect-three",
					"label": "Shine"
				},
				{
					"value": "effect-four",
					"label": "White outline"
				}
			],
			"label": "Effect",
			"default": "none"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "url",
					"id": "url",
					"label": "Image URL",
					"default": "/"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "color",
					"id": "color_bg",
					"label": "Background color",
					"default": "#f6f6f6"
				},
				{
					"type": "text",
					"id": "sub_title",
					"label": "Sub Title"
				},
				{
					"type": "color",
					"id": "color_sub_title",
					"label": "Color Sub Title",
					"default": "#000000"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "color",
					"id": "color_title",
					"label": "Color Title",
					"default": "#000000"
				},
				{
					"type": "textarea",
					"id": "description",
					"label": "Description"
				},
				{
					"type": "color",
					"id": "color_description",
					"label": "Color Description",
					"default": "#000000"
				},
				{
					"type": "text",
					"id": "button",
					"label": "button"
				},
				{
					"type": "select",
					"id": "style_button",
					"label": "Style Button",
					"options": [
						{
							"value": "style_1",
							"label": "Style 1"
						},
						{
							"value": "style_2",
							"label": "Style 2"
						},
						{
							"value": "style_3",
							"label": "Style 3"
						}
					],
					"default": "style_1"
				},
				{
					"type": "header",
					"content": "Content settings"
				},
				{
					"type": "select",
					"id": "vertical_position",
					"label": "Vertical position",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "middle",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					],
					"default": "middle"
				},
				{
					"type": "select",
					"id": "horizontal_position",
					"label": "Horizontal position",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					],
					"default": "center"
				},
				{
					"type": "select",
					"id": "text_align",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					],
					"default": "center"
				},
				{
					"type": "textarea",
					"id": "padding_content",
					"label": "Padding content",
					"default": "0 15px",
					"info":"Screen: desktop | 1200px | 991px | 767px"
				},
				{
					"type": "header",
					"content": "Box settings"
				},
				{
					"type": "text",
					"id": "padding_image",
					"label": "Padding item",
					"default": "0 15px",
					"info":"Screen: desktop | 1200px | 991px | 767px"
				},
				{
					"type": "text",
					"id": "width_image",
					"label": "Width item",
					"default": "50%",
					"info":"Screen: desktop | 1200px | 991px | 767px"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Kretoss Banner",
			"category": "2. Kretoss Banner",
			"blocks": [
				{
					"type": "image"
				},
				{
					"type": "image"
				}
			]
		}
	]
}
{% endschema %}
