{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{%- assign color_bg = section.settings.color_bg -%}
{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .kretoss-section--title{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .kretoss-section--title{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .kretoss-section--title{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .kretoss-section--title{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'title' -%}
				#shopify-section-{{ section.id }} .kretoss-section--title .heading-{{forloop.index}}{
					font-size:{{ block.settings.font_size }}px;
					line-height:{{ block.settings.line_height }}px;
					font-weight:{{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					margin:{{ block.settings.margin }};
					color:{{ block.settings.color }};
					text-align:{{ block.settings.align }};
				}
			{%- when 'sub_title' -%}
				#shopify-section-{{ section.id }} .kretoss-section--title .subheading-{{forloop.index}}{
					font-size:{{ block.settings.font_size }}px;
					line-height:{{ block.settings.line_height }}px;
					font-weight:{{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					margin:{{ block.settings.margin }};
					color:{{ block.settings.color }};
					text-align:{{ block.settings.align }};
				}
			{%- when 'descrioption' -%}
				#shopify-section-{{ section.id }} .kretoss-section--title .descrioption-{{forloop.index}}{
					font-size:{{ block.settings.font_size }}px;
					line-height:{{ block.settings.line_height }}px;
					font-weight:{{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					color:{{ block.settings.color }};
					margin:{{ block.settings.margin }};
					text-align:{{ block.settings.align }};
				}
		{%- endcase -%}
	{%- endfor -%}
	@media (max-width:767px){
		{%- for block in section.blocks -%}
			{%- case block.type -%}
				{%- when 'title' -%}
					#shopify-section-{{ section.id }} .kretoss-section--title .heading-{{forloop.index}}{
						font-size:{{ block.settings.font_size_mobi }}px;
						line-height:{{ block.settings.line_height_mobi }}px;
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
						margin:{{ block.settings.margin_mobi }};
						color:{{ block.settings.color_mobi }};
						text-align:{{ block.settings.align_mobi }};
					}
				{%- when 'sub_title' -%}
					#shopify-section-{{ section.id }} .kretoss-section--title .subheading-{{forloop.index}}{
						font-size:{{ block.settings.font_size_mobi }}px;
						line-height:{{ block.settings.line_height_mobi }}px;
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
						margin:{{ block.settings.margin_mobi }};
						color:{{ block.settings.color_mobi }};
						text-align:{{ block.settings.align_mobi }};
					}
				{%- when 'descrioption' -%}
					#shopify-section-{{ section.id }} .kretoss-section--title .descrioption-{{forloop.index}}{
						font-size:{{ block.settings.font_size_mobi }}px;
						line-height:{{ block.settings.line_height_mobi }}px;
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
						margin:{{ block.settings.margin_mobi }};
						color:{{ block.settings.color_mobi }};
						text-align:{{ block.settings.align_mobi }};
					}
			{%- endcase -%}
		{%- endfor -%}
	}
{%- endstyle -%}

<section class="kretoss-section kretoss-section--title kretoss-section--{{ section.id }} overflow-hidden" style="background-color:{{ color_bg }};">
	<div class="{{ container }}" {{ max_width }}>
		<div class="kretoss-section__inner">
			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when 'title' -%}
						{%- unless block.settings.title == blank -%}
							<h2 class="kretoss-title heading-{{forloop.index}}">
								{{ block.settings.title }}
							</h2>
						{%- endunless -%}
					{%- when 'sub_title' -%}
						{%- unless block.settings.title == blank -%}
							<div class="kretoss-sub-title subheading-{{forloop.index}}">
								{{ block.settings.title }}
							</div>
						{%- endunless -%}
					{%- when 'descrioption' -%}
						{%- unless block.settings.title == blank -%}
							<div class="wpbing-descrioption  descrioption-{{forloop.index}}" >
								{{ block.settings.title }}
							</div>
						{%- endunless -%}
				{%- endcase -%}
			{%- endfor -%}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Kretoss title",
	"class": "kretoss-framework",
	"settings": [
		{
			"type": "header",
			"content": "Layout settings"
		},
		{
            "type": "color",
            "id": "color_bg",
            "label": "Background color",
            "default": "#f6f6f6"
        },
		{
			"type": "text",
			"id": "max_width",
			"label": "Width container",
			"info": "Default: 1440px"
		},
		{
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Fullwidth"
		},
		{
			"type": "text",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "text",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "title",
			"name": "Title",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 30,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 35,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "300"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align_mobi",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				}
			]
		},
		{
			"type": "sub_title",
			"name": "Sub Title",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Sub Heading"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 25,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "300"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align_mobi",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				}
			]
		},
		{
			"type": "descrioption",
			"name": "Descrioption",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 15,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 18,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "300"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 15,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 18,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align_mobi",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Kretoss title",
			"category": "1. Title",
			"blocks": [
				{
					"type": "title"
				}
			]
		}
	]
}
{% endschema %}
