{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .kretoss-section--product-tabs{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .kretoss-section--product-tabs{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .kretoss-section--product-tabs{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .kretoss-section--product-tabs{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}

{%- assign row = section.settings.row -%}
{%- assign button 		= section.settings.button -%}
{%- assign image_url 	= section.settings.url -%}
{%- assign heading = section.settings.title | escape -%}
{%- assign carousel = section.settings.carousel | escape -%}
{%- assign grid_style = section.settings.grid_style | escape -%}
{%- assign collection_handle = section.settings.featured_products -%}
{%- assign nav = section.settings.navigation -%}
{%- assign infinite = section.settings.infinite -%}
{%- assign autoplay = section.settings.autoplay -%}
{%- assign autoplay_speed = section.settings.autoplay_speed | escape -%}
  {%- assign columns = section.settings.columns -%}
  {%- assign column1440 = section.settings.column1440 -%}
  {%- assign column1 = section.settings.column1 -%}
  {%- assign column2 = section.settings.column2 -%}
  {%- assign column3 = section.settings.column3 -%}
  {%- assign column4 = section.settings.column4 -%}
{% capture col_gird %}
  {% if columns == 5 %} col-xl-2-5{% else %} col-xl-{{ 12 | divided_by: columns }}{% endif %}
  {% if column1 == 5 %} col-lg-2-5{% else %} col-lg-{{ 12 | divided_by: column1 }}{% endif %}
  {% if column2 == 5 %} col-md-2-5{% else %} col-md-{{ 12 | divided_by: column2 }}{% endif %}
  {% if column3 == 5 %} col-sm-2-5{% else %} col-sm-{{ 12 | divided_by: column3 }}{% endif %}
  {% if column4 == 5 %} col-2-5{% else %} col-{{ 12 | divided_by: column4 }}{% endif %}
{% endcapture %}

<section class="kretoss-section--product-tabs product-tabs overflow-hidden {{ section.settings.layout }}" style="{{ margin }}">
  <div class="{{ container }}" {{ max_width }}>
    <div class="kretoss-section__inner">
      <div class="kretoss-section__content">
        {%- if section.blocks.size > 0 -%}
          <div class="heading-product-tab">
            {%- if heading != blank -%}
              <div class="kretoss-title{% if settings.show_title_bg %} kretoss-title--bg-img{% endif %}">
                <h3 class="kretoss-title__heading">{{ heading }}</h3>
              </div>
            {%- endif -%}
           <ul class="nav product-tabs__nav">
            {%- for block in section.blocks -%}
              {%- assign tab_heading =  block.settings.title | escape -%}
              <li class="nav-item product-tabs__nav-item">
                <a class="product-tabs__nav-link{% if forloop.first %} active{% endif %}"
                  data-toggle="tab"
                  href="#product-tabs-{{ section.id }}{{ forloop.index }}">
                  {{ tab_heading }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
          </div>
          <div class="tab-content product-tabs__content">
            {%- for block in section.blocks -%}
              {%- assign collection_handle = block.settings.collection -%}
              {%- assign limit = block.settings.limit | plus: 0 -%}
              <div class="tab-pane fade{% if forloop.first %} show active{% endif %}"
                id="product-tabs-{{ section.id }}{{ forloop.index }}">
                {%- if grid_style == 'carousel' -%}
                 <div class="js-carousel slick-carousel bwp_slider-carousel bwp_slick-margin-mobile" data-nav="{{ nav }}" data-infinite="{{ infinite }}" data-autoplay="{{ autoplay }}"
                  data-autoplayspeed="{{ autoplay_speed }}"
                  data-columns="{{ columns }}"
                  data-column1440="{{ column1440 }}"
                  data-column1="{{ column1 }}"
                  data-column2="{{ column2 }}"
                  data-column3="{{ column3 }}"
                  data-column4="{{ column4 }}">
                    {%- assign j = 1 -%}
                    {%- if collection_handle == blank or collections[collection_handle] == empty or collections[collection_handle].products_count == 0 -%}
                      {% include 'onboarding-featured-products' %}
                    {%- else -%}
                      {%- for product in collections[collection_handle].products limit: limit -%}
                        {%- assign modulo = j | modulo:row -%}
                          {%- if modulo == 1 or row == 1 -%}
                            <div class="slick-carousel__item">
                          {%- endif -%}
                            {% include 'product-grid-item' %}
                          {%- if modulo == 0 or forloop.last == true or row == 1 -%}
                            </div>
                          {%- endif -%}
                        {%- assign j = j | plus: 1 -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        {%- else -%}
          <div class="kretoss-section__empty">
            <div class="rte text-center">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        {%- endif -%}
      </div>
      {%- if button != blank -%}
        <a class="bwp-button {{ section.settings.style_button }}" href="{{ image_url }}"><span>{{ button }}</span></a>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Kretoss product tabs",
  "class": "kretoss-framework",
  "settings": [
    {
		"type": "header",
		"content": "Layout settings"
	},
	{
		"type": "text",
		"id": "max_width",
		"label": "Width container",
		"info": "Default: 1440px"
	},
	{
		"type": "checkbox",
		"id": "fullwidth",
		"label": "Fullwidth"
	},
	{
		"type": "text",
		"id": "padding",
		"label": "Padding",
		"placeholder": "0px 0px 0px 0px",
		"info":"Screen: desktop | 1200px | 991px | 767px"
	},
	{
		"type": "text",
		"id": "margin",
		"label": "Margin",
		"placeholder": "0px 0px 0px 0px",
		"info":"Screen: desktop | 1200px | 991px | 767px"
	},
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured product tabs"
    },
    {
      "type": "text",
      "id": "button",
      "label": "button"
    },
    {
      "type": "select",
      "id": "style_button",
      "label": "Style Button",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        },
        {
          "value": "style_3",
          "label": "Style 3"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Image URL",
      "default": "/"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "label": "Grid style",
      "default": "carousel"
    },
    {
      "type": "header",
      "content": "Carousel Settings"
    },
    {
		"type": "checkbox",
		"id": "navigation",
		"label": "Show navigation",
		"default": true
	},
	{
		"type": "checkbox",
		"id": "infinite",
		"label": "Infinite loop sliding",
		"default": true
	},
	{
		"type": "checkbox",
		"id": "autoplay",
		"label": "Enable autoplay",
		"default": false
	},
	{
		"type": "text",
		"id": "autoplay_speed",
		"label": "Autoplay speed",
		"info": "Autoplay speed in milliseconds. Type: int(ms)",
		"default": "10000"
	},
  {
    "type": "select",
    "id": "layout",
    "options": [
      {
        "value": "layout-1",
        "label": "Layout 1"
      },
      {
        "value": "layout-2",
        "label": "Layout 2"
      }
    ],
    "label": "Layout",
    "default": "layout-1"
  },
  {
		"type": "range",
		"id": "row",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Row of section",
		"default": 1
	},
	{
		"type": "range",
		"id": "columns",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns >1440px",
		"default": 4,
		"info": "Desktops"
	},
	{
		"type": "range",
		"id": "column1440",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns 1200px to 1440px",
		"default": 4,
		"info": "Desktops"
	},
	{
		"type": "range",
		"id": "column1",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns on 992px to 1199px",
		"default": 4,
		"info": "Desktops"
	},
	{
		"type": "range",
		"id": "column2",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns on 768px to 991px",
		"default": 3,
		"info": "Laptop"
	},
	{
		"type": "range",
		"id": "column3",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns on 480px to 767px",
		"default": 1,
		"info": "Tablets"
	},
	{
		"type": "range",
		"id": "column4",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns in 480px or less than",
		"default": 1,
		"info": "Mobile phone"
	}
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Tab heading"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "limit",
          "min": 1,
          "max": 20,
          "step": 1,
          "label": "Number of products",
          "default": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Kretoss product tabs",
      "category": "3. Product",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}
