{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .bwp-widget-line{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	#shopify-section-{{ section.id }} .bwp-widget-line .kretoss-section__content{
		height:{{ section.settings.height }}px;
		background:{{ section.settings.background }};
	}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .bwp-widget-line{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .bwp-widget-line{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .bwp-widget-line{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}

<section class="kretoss-section bwp-widget-line kretoss-section--{{ section.id }} overflow-hidden">
	<div class="{{ container }}" {{ max_width }}>
		<div class="kretoss-section__inner">
			<div class="kretoss-section__content">
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Kretoss Line",
	"class": "kretoss-framework",
	"settings": [
		{
			"type": "header",
			"content": "Layout settings"
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Width container",
			"info": "Default: 1440px"
		},
		{
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Fullwidth"
		},
		{
			"type": "text",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "text",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "header",
			"content": "General Settings"
		},
		{
			"type": "number",
			"id": "height",
			"label": "Height",
			"info": "px",
			"default": 1
		},
		{
			"type": "color",
			"id": "background",
			"label": "Background",
			"default": "#e7e7e7"
		}
	],
	"presets": [
		{
			"name": "Kretoss Line",
			"category": "3. Kretoss Line"
		}
	]
}
{% endschema %}
