{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{%- assign heading = section.settings.title | escape -%}
{%- assign button 		= section.settings.button -%}
{%- assign image_url 	= section.settings.url -%}
{%- assign row = section.settings.row -%}
{%- assign collection_handle = section.settings.featured_products -%}
{%- assign nav = section.settings.navigation -%}
{%- assign dot = section.settings.pagination -%}
{%- assign infinite = section.settings.infinite -%}
{%- assign autoplay = section.settings.autoplay -%}
{%- assign autoplay_speed = section.settings.autoplay_speed | escape -%}
{%- assign columns = section.settings.columns -%}
{%- assign column1440 = section.settings.column1440 -%}
{%- assign column1 = section.settings.column1 -%}
{%- assign column2 = section.settings.column2 -%}
{%- assign column3 = section.settings.column3 -%}
{%- assign column4 = section.settings.column4 -%}
{%- assign limit = section.settings.limit | plus: 0 -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .kretoss-section--products{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .kretoss-section--products{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .kretoss-section--products{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .kretoss-section--products{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}
<section class="kretoss-section kretoss-section--products kretoss-section--{{ section.id }}">
	<div class="{{ container }}" {{ max_width }}>
		<div class="kretoss-section__inner">
			{%- if heading != blank -%}
				<div class="kretoss-title{% if settings.show_title_bg %} kretoss-title--bg-img{% endif %}">
					<h3 class="kretoss-title__heading">{{ heading }}</h3>
				</div>
			{%- endif -%}
			<div class="kretoss-section__content bwp_slider-carousel bwp_slick-margin-mobile">
				<div class="js-carousel slick-carousel" data-nav="{{ nav }}" data-dots="{{ dot }}" data-slidestoscroll="true" data-infinite="{{ infinite }}" data-autoplay="{{ autoplay }}"
					data-autoplayspeed="{{ autoplay_speed }}"
					data-columns="{{ columns }}"
					data-column1440="{{ column1440 }}"
					data-column1="{{ column1 }}"
					data-column2="{{ column2 }}"
					data-column3="{{ column3 }}"
					data-column4="{{ column4 }}">
					{%- assign j = 1 -%}
					{%- if collection_handle == blank or collections[collection_handle] == empty or collections[collection_handle].products_count == 0 -%}
						{% include 'onboarding-featured-products' %}
					{%- else -%}
						{%- for product in collections[collection_handle].products limit: limit -%}
							{%- assign modulo = j | modulo:row -%}
								{%- if modulo == 1 or row == 1 -%}
									<div class="slick-carousel__item">
								{%- endif -%}
									{% include 'product-grid-item' %}
								{%- if modulo == 0 or forloop.last == true or row == 1 -%}
									</div>
								{%- endif -%}
							{%- assign j = j | plus: 1 -%}
						{%- endfor -%}
					{%- endif -%}
				</div>
			</div>
			{%- if button != blank -%}
				<a class="bwp-button {{ section.settings.style_button }}" href="{{ image_url }}"><span>{{ button }}</span></a>
			{%- endif -%}
		</div>
	</div>
</section>
{% schema %}
{
	"name": "Kretoss products list",
	"class": "kretoss-framework",
	"settings": [
		{
			"type": "text",
			"id": "custom_class",
			"label": "Custom Class"
		},
		{
			"type": "header",
			"content": "Layout settings"
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Width container",
			"info": "Default: 1440px"
		},
		{
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Fullwidth"
		},
		{
			"type": "text",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "text",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "header",
			"content": "General Settings"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "button",
			"label": "button"
		},
		{
			"type": "select",
			"id": "style_button",
			"label": "Style Button",
			"options": [
				{
				"value": "style_1",
				"label": "Style 1"
				},
				{
				"value": "style_2",
				"label": "Style 2"
				},
				{
				"value": "style_3",
				"label": "Style 3"
				}
			],
			"default": "style_1"
			},
			{
			"type": "url",
			"id": "url",
			"label": "Image URL",
			"default": "/"
		},
		{
			"type": "collection",
			"id": "featured_products",
			"label": "Collection"
		},
		{
			"type": "range",
			"id": "limit",
			"min": 1,
			"max": 20,
			"step": 1,
			"label": "Number of products",
			"default": 8
		},
		{
			"type": "header",
			"content": "Carousel Settings"
		},
		{
			"type": "checkbox",
			"id": "navigation",
			"label": "Show navigation",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "pagination",
			"label": "Show pagination",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "infinite",
			"label": "Infinite loop sliding",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"label": "Enable autoplay",
			"default": false
		},
		{
			"type": "text",
			"id": "autoplay_speed",
			"label": "Autoplay speed",
			"info": "Autoplay speed in milliseconds. Type: int(ms)",
			"default": "10000"
		},
		{
			"type": "range",
			"id": "row",
			"min": 1,
			"max": 5,
			"step": 1,
			"label": "Row of section",
			"default": 1
		},
		{
			"type": "range",
			"id": "columns",
			"min": 1,
			"max": 5,
			"step": 1,
			"label": "Number of Columns >1440px",
			"default": 4,
			"info": "Desktops"
		},
		{
			"type": "range",
			"id": "column1440",
			"min": 1,
			"max": 5,
			"step": 1,
			"label": "Number of Columns 1200px to 1440px",
			"default": 4,
			"info": "Desktops"
		},
		{
			"type": "range",
			"id": "column1",
			"min": 1,
			"max": 5,
			"step": 1,
			"label": "Number of Columns on 992px to 1199px",
			"default": 4,
			"info": "Desktops"
		},
		{
			"type": "range",
			"id": "column2",
			"min": 1,
			"max": 5,
			"step": 1,
			"label": "Number of Columns on 768px to 991px",
			"default": 3,
			"info": "Laptop"
		},
		{
			"type": "range",
			"id": "column3",
			"min": 1,
			"max": 5,
			"step": 1,
			"label": "Number of Columns on 480px to 767px",
			"default": 1,
			"info": "Tablets"
		},
		{
			"type": "range",
			"id": "column4",
			"min": 1,
			"max": 5,
			"step": 1,
			"label": "Number of Columns in 480px or less than",
			"default": 1,
			"info": "Mobile phone"
		}
	],
	"presets": [
		{
			"name": "Kretoss products list",
			"category": "3. Product"
		}
	]
}
{% endschema %}
