{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{% assign padding_bg 	= section.settings.padding_bg | split: "|" %}
{%- style -%}
	{%- if section.settings.background -%}
		{%- assign background = section.settings.background | img_url: "" -%}
		#shopify-section-{{ section.id }} .kretoss-section__inner{
			background-image: url('{{ background }}');
		}
	{%- else -%}
		#shopify-section-{{ section.id }} .kretoss-section__inner{
			background-image: url('https://placehold.jp/1410x1054.png');
		}
	{%- endif -%}
	#shopify-section-{{ section.id }} .kretoss-section__inner{
		background-size:{{ section.settings.background_size }};
		background-position:{{ section.settings.background_pos }};
		{%- if section.settings.bg_fixed != blank -%}
			background-attachment: fixed;
		{%- endif -%}
		{%- if padding_bg[0] != blank -%}padding:{{ padding_bg[0] }};{%- endif -%}
	}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .kretoss-section--background{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank or padding_bg[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .kretoss-section--background{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
			{%- if padding_bg[1] != blank -%}
			#shopify-section-{{ section.id }} .kretoss-section__inner{
				padding:{{ padding_bg[1] }};
			}
			{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank or padding_bg[1] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .kretoss-section--background{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
			{%- if padding_bg[2] != blank -%}
			#shopify-section-{{ section.id }} .kretoss-section__inner{
				padding:{{ padding_bg[2] }};
			}
			{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank or padding_bg[1] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .kretoss-section--background{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
			#shopify-section-{{ section.id }} .kretoss-section__inner{
				{%- if padding_bg[3] != blank -%}padding:{{ padding_bg[3] }};{%- endif -%}
			}
			
		}
	{%- endif -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'image' -%}
				#shopify-section-{{ section.id }} .kretoss-section--background .image-{{forloop.index}}{
					max-width:{{ block.settings.font_size }}px;
					padding:{{ block.settings.margin }};
					margin:{{ block.settings.align }};
				}
			{%- when 'title' -%}
				#shopify-section-{{ section.id }} .kretoss-section--background .heading-{{forloop.index}}{
					font-size:{{ block.settings.font_size }}px;
					line-height:{{ block.settings.line_height }}px;
					font-weight:{{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					margin:{{ block.settings.margin }};
					color:{{ block.settings.color }};
					text-align:{{ block.settings.align }};
				}
			{%- when 'sub_title' -%}
				#shopify-section-{{ section.id }} .kretoss-section--background .subheading-{{forloop.index}}{
					font-size:{{ block.settings.font_size }}px;
					line-height:{{ block.settings.line_height }}px;
					font-weight:{{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					margin:{{ block.settings.margin }};
					color:{{ block.settings.color }};
					text-align:{{ block.settings.align }};
				}
			{%- when 'descrioption' -%}
				#shopify-section-{{ section.id }} .kretoss-section--background .descrioption-{{forloop.index}}{
					font-size:{{ block.settings.font_size }}px;
					line-height:{{ block.settings.line_height }}px;
					font-weight:{{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					color:{{ block.settings.color }};
					margin:{{ block.settings.margin }};
					text-align:{{ block.settings.align }};
				}
			{%- when 'button' -%}
				#shopify-section-{{ section.id }} .button-{{forloop.index}}{
					font-size:{{ block.settings.font_size }}px;
					line-height:{{ block.settings.line_height }}px;
					font-weight:{{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					color:{{ block.settings.color }};
					background:{{ block.settings.background }};
					padding:{{ block.settings.padding }};
					margin:{{ block.settings.margin }};
					{%- if block.settings.border -%}
						border:{{ block.settings.border_width }} solid {{ block.settings.border_color }};
						border-radius:{{ block.settings.border_radius }}
					{%- endif -%}
				}
				#shopify-section-{{ section.id }} .button-{{forloop.index}}:hover{
					color:{{ block.settings.color_hover }};
					background:{{ block.settings.background_hover }};
				}
		{%- endcase -%}
	{%- endfor -%}
	@media (max-width:767px){
		{%- for block in section.blocks -%}
			{%- case block.type -%}
				{%- when 'image' -%}
					#shopify-section-{{ section.id }} .kretoss-section--background .image-{{forloop.index}}{
						max-width:{{ block.settings.font_size_mobi }}px;
						padding:{{ block.settings.margin_mobi }};
						margin:{{ block.settings.align_mobi }};
					}
				{%- when 'title' -%}
					#shopify-section-{{ section.id }} .kretoss-section--background .heading-{{forloop.index}}{
						font-size:{{ block.settings.font_size_mobi }}px;
						line-height:{{ block.settings.line_height_mobi }}px;
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
						margin:{{ block.settings.margin_mobi }};
						color:{{ block.settings.color_mobi }};
						text-align:{{ block.settings.align_mobi }};
					}
				{%- when 'sub_title' -%}
					#shopify-section-{{ section.id }} .kretoss-section--background .subheading-{{forloop.index}}{
						font-size:{{ block.settings.font_size_mobi }}px;
						line-height:{{ block.settings.line_height_mobi }}px;
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
						margin:{{ block.settings.margin_mobi }};
						color:{{ block.settings.color_mobi }};
						text-align:{{ block.settings.align_mobi }};
					}
				{%- when 'descrioption' -%}
					#shopify-section-{{ section.id }} .kretoss-section--background .descrioption-{{forloop.index}}{
						font-size:{{ block.settings.font_size_mobi }}px;
						line-height:{{ block.settings.line_height_mobi }}px;
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
						margin:{{ block.settings.margin_mobi }};
						color:{{ block.settings.color_mobi }};
						text-align:{{ block.settings.align_mobi }};
					}
				{%- when 'button' -%}
					#shopify-section-{{ section.id }} .button-{{forloop.index}}{
						font-size:{{ block.settings.font_size_mobi }}px;
						line-height:{{ block.settings.line_height_mobi }}px;
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
						padding:{{ block.settings.padding_mobi }};
						margin:{{ block.settings.margin_mobi }};
						color:{{ block.settings.color_mobi }};
						background:{{ block.settings.background_mobi }};
						{%- if block.settings.border_mobi -%}
							border:{{ block.settings.border_width_mobi }} solid {{ block.settings.border_color_mobi }};
							border-radius:{{ block.settings.border_radius_mobi }}
						{%- endif -%}
					}
			{%- endcase -%}
		{%- endfor -%}
	}
{%- endstyle -%}

<section class="kretoss-section kretoss-section--background kretoss-section--{{ section.id }} overflow-hidden">
	<div class="{{ container }}" {{ max_width }}>
		<div class="kretoss-section__inner">
			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when 'image' -%}
						<div class="kretoss-image image-{{forloop.index}}">
							{%- if block.settings.image -%}
								{% include 'img-global' with image: block.settings.image, class: "featured-banner__img", effect: "fade-in" %}
							{%- else -%}
								<img class="lazyload fade-in" src="https://placehold.jp/101x101.png" />
							{%- endif -%}
						</div>
					{%- when 'title' -%}
						{%- unless block.settings.title == blank -%}
							<h2 class="kretoss-title heading-{{forloop.index}}">
								{{ block.settings.title }}
							</h2>
						{%- endunless -%}
					{%- when 'sub_title' -%}
						{%- unless block.settings.title == blank -%}
							<div class="kretoss-sub-title subheading-{{forloop.index}}">
								{{ block.settings.title }}
							</div>
						{%- endunless -%}
					{%- when 'descrioption' -%}
						{%- unless block.settings.title == blank -%}
							<div class="wpbing-descrioption  descrioption-{{forloop.index}}" >
								{{ block.settings.title }}
							</div>
						{%- endunless -%}
					{%- when 'button' -%}
						{%- unless block.settings.title == blank -%}
							<a class="wpbing-button button-{{forloop.index}}" href="{{ block.settings.button_link }}" >
								{{ block.settings.title }}
							</a>
						{%- endunless -%}
				{%- endcase -%}
			{%- endfor -%}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Background Image",
	"class": "kretoss-framework",
	"settings": [
		{
			"type": "header",
			"content": "Layout settings"
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Width container",
			"info": "Default: 1440px"
		},
		{
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Fullwidth"
		},
		{
			"type": "text",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "text",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "image_picker",
			"id": "background",
			"label": "Background image",
			"info": "Default size: 1740x900 pixels"
		},
		{
			"type": "text",
			"id": "padding_bg",
			"label": "Padding Background",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "checkbox",
			"id": "bg_fixed",
			"label": "Background Fixed"
		},
		{
			"type": "select",
			"id": "background_size",
			"label": "Background Size",
			"options": [
				{
					"value": "contain",
					"label": "Contain"
				},
				{
					"value": "auto",
					"label": "Auto"
				},
				{
					"value": "cover",
					"label": "Cover"
				}
			],
			"default": "cover"
		},
		{
			"type": "select",
			"id": "background_pos",
			"label": "Background position",
			"options": [
				{
					"value": "left top",
					"label": "Left Top"
				},
				{
					"value": "left  center",
					"label": "Left Center"
				},
				{
					"value": "left bottom",
					"label": "Left Bottom"
				},
				{
					"value": "center top",
					"label": "Center Top"
				},
				{
					"value": "center center",
					"label": "Center Center"
				},
				{
					"value": "center bottom",
					"label": "Center Bottom"
				},
				{
					"value": "right top",
					"label": "Right Top"
				},
				{
					"value": "right center",
					"label": "Right Center"
				},
				{
					"value": "right bottom",
					"label": "Right Bottom"
				}
			],
			"default": "center center"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "Default size: 460x150 pixels"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 30,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Padding",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align",
					"label": "Margin",
					"options": [
						{
							"value": "initial",
							"label": "Initial"
						},
						{
							"value": "auto",
							"label": "Auto"
						}
					],
					"default": "initial"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Width",
					"default": 20,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Padding",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align_mobi",
					"label": "Margin",
					"options": [
						{
							"value": "initial",
							"label": "Initial"
						},
						{
							"value": "auto",
							"label": "Auto"
						}
					],
					"default": "initial"
				}
			]
		},
		{
			"type": "title",
			"name": "Title",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 30,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 35,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "300"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align_mobi",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				}
			]
		},
		{
			"type": "sub_title",
			"name": "Sub Title",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Sub Heading"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 25,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "300"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 20,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align_mobi",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				}
			]
		},
		{
			"type": "descrioption",
			"name": "Descrioption",
			"settings": [
				{
					"type": "html",
					"id": "title",
					"label": "Heading",
					"default": "Descrioption"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 15,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 18,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "300"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 15,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 18,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "align_mobi",
					"label": "Text align",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "center",
							"label": "Center"
						}
					],
					"default": "left"
				}
			]
		},
		{
			"type": "button",
			"name": "Button",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Url button"
				},
				{
					"type": "checkbox",
					"id": "border",
					"label": "Turn on border",
					"default": false
				},
				{
					"type": "text",
					"id": "border_radius",
					"label": "Border radius",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "number",
					"id": "border_width",
					"label": "Border width",
					"default": 0
				},
				{
					"type": "header",
					"content": "Color Default"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "background",
					"label": "Background",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "border_color",
					"label": "Border color",
					"default": "#fff"
				},
				{
					"type": "header",
					"content": "Color Hover"
				},
				{
					"type": "color",
					"id": "color_hover",
					"label": "Color hover",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "background_hover",
					"label": "Background Hover",
					"default": "#3db84c"
				},
				{
					"type": "color",
					"id": "border_color_hover",
					"label": "Border color hover",
					"default": "#fff"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 15,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 45,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "400"
				},
				{
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "text",
					"id": "padding",
					"label": "Padding",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "select",
					"id": "effect",
					"label": "Caption effect",
					"options": [
						{
							"value": "default",
							"label": "Default"
						},
						{
							"value": "leftright",
							"label": "Left to Right"
						},
						{
							"value": "rightleft",
							"label": "Right to Left"
						},
						{
							"value": "topbottom",
							"label": "Top to Bottom"
						},
						{
							"value": "bottomtop",
							"label": "Bottom to Top"
						}
					],
					"default": "leftright"
				},
				{
					"type": "header",
					"content": "==Mobile",
					"info": "screen < 767px"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 15,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 15,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "checkbox",
					"id": "border_mobi",
					"label": "Turn on border",
					"default": false
				},
				{
					"type": "text",
					"id": "border_radius_mobi",
					"label": "Border radius",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "number",
					"id": "border_width_mobi",
					"label": "Border width",
					"default": 0
				},
				{
					"type": "header",
					"content": "Color Default"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "background_mobi",
					"label": "Background",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "border_color_mobi",
					"label": "Border color",
					"default": "#fff"
				},
				{
					"type": "header",
					"content": "Color Hover"
				},
				{
					"type": "color",
					"id": "color_hover_mobi",
					"label": "Color hover",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "background_hover_mobi",
					"label": "Background Hover",
					"default": "#3db84c"
				},
				{
					"type": "color",
					"id": "border_color_hover_mobi",
					"label": "Border color hover",
					"default": "#fff"
				},
				{
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "text",
					"id": "padding_mobi",
					"label": "Padding",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Background Image",
			"category": "3. Image",
			"blocks": [
				{
					"type": "title"
				}
			]
		}
	]
}
{% endschema %}
