{%- style -%}
	{%- assign padding = section.settings.padding -%}
	{%- assign logo_max_width = section.settings.logo_max_width -%}
	{% if padding != blank %}.bwp-header {padding: {{ padding }};}{% endif %}
	.header-logo img {max-width: {{ logo_max_width | append: 'px' }};}
	{% if section.settings.header_absolute %}
		@media (min-width:991px){
			body.template-index .bwp-header{
				position:absolute;
				width:100%;
				z-index: 2;
				border-bottom: 0.5px solid #ffffff24;
			}
			{% if section.settings.color_homepage_text %}
				body.template-index .bwp-header .header-desktop .main-menu__nav-item>a{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .header-desktop .search-toggle{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .header-desktop .login-account{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .header-desktop .header-account__title{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .header-desktop  .header-cart__link{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .header-desktop  .wishlist{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .header-top{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .header-top a{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header .main-menu__nav-item>a:before{
					background:{{ section.settings.color_homepage_text }}
				}
			{% endif %}
		}
	{% endif %}
{%- endstyle -%}

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="bwp-header header_1" data-sticky_header="{{ section.settings.header_sticky }}">
	{%- if section.settings.header_sticky != blank -%}
		{% include 'header-sticky' %}
	{%- endif -%}
	<div class="header-desktop">
		<h1 class="d-none" itemprop="legalName">{{ shop.name }}</h1>
		<div class="container">
			<div class="header-center__inner">
				<div class="header-logo" itemscope itemtype="http://schema.org/Organization">
					{%- if section.settings.logo -%}
						<a href="/" itemprop="url" class="header-logo__link">
							{%- if section.settings.logo_homepage and template.name == "index" -%}
								<img class="header-logo__img"
									src="{{ section.settings.logo_homepage | img_url: 'master' }}" 
									srcset="{{ section.settings.logo_homepage | img_url: 'master' }}"
									alt="{{ section.settings.logo_homepage.alt | default: shop.name }}"
									itemprop="logo">
							{%- else -%}
								<img class="header-logo__img"
									src="{{ section.settings.logo | img_url: 'master' }}" 
									srcset="{{ section.settings.logo | img_url: 'master' }}"
									alt="{{ section.settings.logo.alt | default: shop.name }}"
									itemprop="logo">
							{%- endif -%}
						</a>
					{%- else -%}
						<a href="/" itemprop="url" class="header-logo__link header-logo__link--text">{{ shop.name }}</a>
					{%- endif -%}
				</div>
				<div class="header-left">
					{% include 'header-menu' %}
				</div>
				<div class="header-right">
					<div class="header-page-link">
						{%- if section.settings.show_header_search -%}
							<div class="search-toggle">
								<i class="feather-search"></i>
							</div>
							{% include 'header-search-toggle' %}
						{%- endif -%}
						{%- if section.settings.show_header_user -%}
							{% include 'header-account' %}
						{%- endif -%}
						{%- if section.settings.show_header_wishlist -%}
							<a class="wishlist" href="/pages/wishlist" data-count-wishlist>
								{% comment %} <span class="text-header-right">{{ section.settings.header_wishlist_title | escape }}</span> {% endcomment %}
								<i class="feather-heart"></i>
								<span class="count"></span>
							</a>
						{%- endif -%}
						{%- if section.settings.show_header_cart -%}
							{% include 'header-cart' %}
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'header-mobile' %}
</div>

{% schema %}
{
  "name": "Header 1",
  "settings": [
    {
		"type": "header",
		"content": "Layout Settings"
    },
    {
		"type": "text",
		"id": "padding",
		"label": "Padding",
		"placeholder": "60px 0px 60px 0px",
		"default": "60px 0"
    },
	{
      "type": "checkbox",
      "id": "header_sticky",
      "label": "Header Sticky"
    },
	{
      "type": "checkbox",
      "id": "header_absolute",
      "label": "Header absolute",
	  "info": "Only use for homepage"
    },
	{
      "type": "color",
      "id": "color_homepage_text",
      "label": "Header color",
      "default": "#fff",
	  "info": "Only use for Header absolute"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_homepage",
      "label": "Logo Homepage",
	  "info":"use if you want to enter a different logo for homepage"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 260,
      "step": 5,
      "unit": "px",
      "default": 135
    },
    {
      "type": "checkbox",
      "id": "show_header_search",
      "label": "Show search box",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_header_wishlist",
      "label": "Show wishlist",
      "default": true
    },
    {
      "type": "text",
      "id": "header_wishlist_title",
      "label": "Heading",
      "default": "Wishlist"
    },
    {
      "type": "header",
      "content": "Header User"
    },
    {
      "type": "checkbox",
      "id": "show_header_user",
      "label": "Show header user",
      "default": true
    },
    {
      "type": "text",
      "id": "header_user_title",
      "label": "Heading",
      "default": "Account"
    },
    {
      "type": "link_list",
      "id": "header_user_link_list",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "show_header_cart",
      "label": "Show header cart",
      "default": true
    }
  ],
  "blocks": [
	{
		"type": "@app"
	},
	{
		"type": "megamenu",
		"name": "Megamenu item",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Menu item name",
				"info": "Menu item of main-menu. Menu item has dropdown megamenu."
			},
			{
				"type": "text",
				"id": "megamenu_name",
				"label": "Megamenu item name"
			},
			{
				"type": "select",
				"id": "width",
				"options": [
					{
						"value": "custom",
						"label": "Custom"
					},
					{
						"value": "full",
						"label": "Full Width"
					}
				],
				"label": "Width Submenu:",
				"default":"full"
			},
			{
				"type": "text",
				"id": "width_custom",
				"label": "== Custom Width"
			},
			{
				"type": "checkbox",
				"id": "btn_viewall",
				"label": "== Show Button View",
				"default": false
			},
			{
				"type": "text",
				"id": "label_btn_viewall",
				"label": "--- Label Button View",
				"default": "View All Demos (50+)"
			},
			{
				"type": "url",
				"id": "url_btn_viewall",
				"label": "--- Url Button View"
			}
		]
	},
    {
      "type": "megamenu-child",
      "name": "==Megamenu Child",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Megamenu item name",
          "info": "Megamenu item . Menu item has megamenu item."
        },
		{
		  "type": "radio",
		  "id": "widget",
		  "label": "Widget",
		  "options": [
			{
			  "value": "menu",
			  "label": "Menu"
			},
			{
			  "value": "image",
			  "label": "Banner"
			},
			{
			  "value": "blog",
			  "label": "Blog"
			},
			{
			  "value": "product",
			  "label": "Product"
			}
		  ],
		  "default": "menu"
		},
        {
          "type": "text",
          "id": "menu_col",
          "label": "Block width",
          "default": "20%"
        },
		{
          "type": "text",
          "id": "menu_heading",
          "label": "Heading"
        },
		{
		  "type": "header",
		  "content": "Menu"
		},
        {
		  "type": "link_list",
		  "id": "menu_link_list_child",
		  "label": "Menu"
		},
		{
		  "type": "header",
		  "content": "Banner"
		},
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner image"
        },
		{
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title"
        },
		{
          "type": "text",
          "id": "banner_button",
          "label": "Banner Button"
        },
		{
          "type": "url",
          "id": "banner_link",
          "label": "Banner URL"
        },
		{
		  "type": "header",
		  "content": "Product"
		},
		{
		  "type": "collection",
		  "id": "collection_widget",
		  "label": "Collection"
		},
		{
		  "type": "header",
		  "content": "Blog"
		},
		{
		  "type": "blog",
		  "id": "blog_widget",
		  "label": "Blog"
		}
      ]
    }
  ]
}
{% endschema %}
