{%- assign current_variant 			= product.selected_or_first_available_variant -%}
{%- assign media_layout 			= section.settings.media_layout -%}
{%- assign countdowns 				= product.metafields.bwp_fields.countdowns -%}
{%- assign external 				= product.metafields.bwp_fields.external -%}
{%- assign group_product 			= product.metafields.bwp_fields.group_product -%}
{%- assign group_product_array		= group_product | split: "," -%}
{%- assign size_chart 				= product.metafields.bwp_fields.size_chart -%}
{%- assign bundler 					= product.metafields.bwp_fields.bundler -%}
{%- assign buy_it_with 				= product.metafields.bwp_fields.buy_it_with | plus: 0 -%}
{%- assign full_description 		= product.description -%}

{%- assign filter_name_1 			= settings.filter_name_1 -%}
{%- assign select_filter_1 			= settings.select_filter_1 -%}
{%- assign filter_name_2 			= settings.filter_name_2 -%}
{%- assign select_filter_2 			= settings.select_filter_2 -%}
{%- assign filter_name_3 			= settings.filter_name_3 -%}
{%- assign select_filter_3 			= settings.select_filter_3 -%}
{%- assign short_description 		= product.metafields.bwp_fields.shortdesc -%}

{%- assign first_3d_model 			= product.media | where: "media_type", "model" | first -%}
{%- assign full_width 				= false -%}

{%- if media_layout == "slider" -%}
	{%- assign full_width 			= true -%}
{%- endif -%}
{%- if media_layout == "thumbnails" or media_layout == "lagre-gallery" -%}
	{%- assign sticky 				= true -%}
{%- endif -%}
{%- assign nothum = false -%}
{%- if media_layout == "lagre-gallery" or media_layout == "slider" -%}
	{%- assign nothum 				= true -%}
{%- endif -%}

<div class="container{% if full_width  %} container-full-image{% endif %}">
	<div class="product" itemscope itemtype="http://schema.org/Product"
    data-section-id="{{ section.id }}"
    data-section-type="product-template"
    data-enable-history-state="true"
	data-nothum="{{ nothum }}"
    data-stacked-layout="{% if media_layout == "stacked" or media_layout == "gird-mordern" or media_layout == "gird-two" or media_layout == "gird-sticky" %}true{% else %}false{% endif %}"
    {% if first_3d_model %}data-has-model="true"{% endif %}>
		<div class="product-single product__primary {{ media_layout }}" data-layout_thumb="{{ media_layout }}" data-popup="false">
			<div class="row">
				<div class="bwp-single-content{% if section.settings.show_sidebar %} {{ section.settings.position_sidebar }} col-xl-9 col-lg-12 col-md-12 col-12{% else %} col-12 col-lg-12 col-md-12 col-12{% endif %}">
					<div class="row sticky">
						<div class="bwp-single-image col-lg-7 col-md-12 col-12">
							{% include 'product-media' %}
						</div>
						<div class="bwp-single-info col-lg-5 col-md-12 col-12 ">
							<div class="product-single__metas">
								{%- for block in section.blocks -%}
									{%- case block.type -%}
										{%- when 'rating' -%}
											{%- if settings.product_reviews_enable -%}
												<div class="product-single__reviews product-review">
													<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
												</div>
											{%- endif -%}
										{%- when 'title' -%}
											<h1 class="product-single__title"{% if block.settings.product_title_margin != blank %} style="margin:{{ block.settings.product_title_margin }}"{% endif %} itemprop="name">{{ product.title }}</h1>
										{%- when 'price' -%}
											{%- if group_product != blank -%}
												<div class="price-container"{% if block.settings.product_price_margin != blank %} style="margin:{{ block.settings.product_price_margin }}"{% endif %}>
													{% for group_ids in group_product_array %}
														{% assign product_id = group_ids | plus: 0 %}
														{% paginate collections.all.products by 1000 %}
															{% for product in collections.all.products %}
																{%- if product.id == product_id -%}
																	{%- for variant in product.variants -%}
																		{% assign prices =  prices | append: variant.price | append: ',' %}
																	{% endfor %}
																{%- endif -%}
															{% endfor %}
														{% endpaginate %}
													{% endfor %}
													{% assign operator_prices	= prices | split: "," %}
													{% assign min_price = operator_prices[0] | plus: 0 %}
													{% assign max_price = operator_prices[0] | plus: 0 %}
													{% for operator_price in operator_prices %}
														{% assign operator = operator_price | plus: 0 %}
														{% assign min_price		 = min_price | plus: 0 %}
														{% assign max_price		 = max_price | plus: 0 %}
														{% if operator < min_price %}
															{% assign min_price = operator %}
														{% endif %}
														{% if operator > max_price %}
															{% assign max_price = operator %}
														{% endif %}		
													{% endfor %}
													{{  min_price | money }} - {{  max_price | money }}
												</div>
											{% else %}		
												{% include 'product-price', variant: current_variant %}
											{% endif %}		
										{%- when 'vendor' -%}
												<div class="product__vendor"{% if block.settings.product_vendor_margin != blank %} style="margin:{{ block.settings.product_vendor_margin }}"{% endif %}>
													<div class="product__organization__label">{{ 'products.product.vendor' | t }}</div>
													<div class="product__organization__text"><a href="/collections/vendors?q={{ product.vendor }}">{{ product.vendor }}</a></div>
												</div>
										{%- when 'inventory' -%}
											<div class="inventory-content"{% if block.settings.product_inventory_margin != blank %} style="margin:{{ block.settings.product_inventory_margin }}"{% endif %}>
												{% if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" %}
													{% if current_variant.inventory_quantity > 0 %}
														<div id="variant-inventory"><i class="bwp-icon-in-stock"></i>{{'products.product.in_stock' | t }}</div>
													{% else %}
														<div id="variant-inventory" class="out_stock"><i class="bwp-icon-in-stock"></i>{{'products.product.out_stock' | t }}</div>
													{% endif %}
												{% else %}
													<div id="variant-inventory"><i class="bwp-icon-in-stock"></i>{{'products.product.in_stock' | t }}</div>
												{% endif %}
											</div>
										{%- when 'product_count_sale' -%}
											{% if current_variant.available %}
												{%- assign count = block.settings.product_sale_count | split: "-" -%}
												{%- assign time = block.settings.product_sale_time | split: "-" -%}
												<div class="product-count-sale" data-min="{{ count[0] }}" data-max="{{ count[1] }}" data-time_min="{{ time[0] }}" data-time_max="{{ time[1] }}" data-id_product="{{ product.id }}"{% if block.settings.product_count_sale_margin != blank %} style="margin:{{ block.settings.product_count_sale_margin }}"{% endif %}>
													{% include 'fire' %}<span class="count"></span> {{ block.settings.product_count_sale_text }} <span class="time"></span> {{ block.settings.product_count_sale_unit }}
												</div>
											{% endif %}
										{%- when 'product_real_time' -%}
											{%- assign count = block.settings.product_real_time_count | split: "-" -%}
											<div class="product-count-view" data-min="{{ count[0] }}" data-max="{{ count[1] }}" data-timeout="{{ block.settings.product_real_time_change }}" data-id_product="{{ product.id }}"{% if block.settings.product_real_time_margin != blank %} style="margin:{{ block.settings.product_real_time_margin }}"{% endif %}>
												<i class="feather-eye"></i><span></span> {{ block.settings.product_real_time_text }}
											</div>
										{%- when 'countdowns' -%}
											{%- if countdowns != blank -%}
											<div class="countdown-single"{% if block.settings.product_countdowns_margin != blank %} style="margin:{{ block.settings.product_countdowns_margin }}"{% endif %}>
												<h2><span class="icon">{% include 'clock' %}</span>{{ block.settings.product_countdown_title }}</h2>
												<div class="countdown" data-countdown_single="{{ countdowns }}" data-day="{{ block.settings.product_countdown_day }}" data-hour="{{ block.settings.product_countdown_hour }}" data-min="{{ block.settings.product_countdown_min }}" data-sec="{{ block.settings.product_countdown_sec }}"></div>
											</div>
											{%- endif -%}
										{%- when 'shipping_policy' -%}
											<div class="product-single__policies rte"{% if block.settings.product_shipping_policy_margin != blank %} style="margin:{{ block.settings.product_shipping_policy_margin }}"{% endif %}>
												{%- if shop.taxes_included -%}
													{{ 'products.general.include_taxes' | t }}
												{%- endif -%}
												{%- if shop.shipping_policy.body != blank -%}
													{{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
												{%- endif -%}
											</div>
										{%- when 'form_atc' -%}
											{% include 'single-form-atc' %}
										{%- when 'pick_up' -%}	
											{% assign url_image = product.featured_media.preview_image | image_url:width:100 %}
											<div class="product-single__pick_up" data-src="{{ url_image }}" data-store-availability-container data-product_title="{{ product.title }}" data-id="{{ product.selected_or_first_available_variant.id }}" data-only_variant="{{ product.has_only_default_variant }}" data-base-url="{{ routes.root_url }}" {% if block.settings.product_pick_up_margin != blank %} style="margin:{{ block.settings.product_pick_up_margin }}"{% endif %}>
											</div>
										{%- when 'ask-share' -%}
											<div class="ask-share"{% if block.settings.product_ask-share_margin != blank %} style="margin:{{ block.settings.product_ask-share_margin }}"{% endif %}>
												{%- if product.handle != blank and section.settings.product_button_compare -%}
												<div class="button-compare" data-title="{{ 'products.product.compare' | t }}">
													<button type="button" aria-label="{{ 'products.product.compare' | t }}" class="" button-compare data-product-handle="{{ product.handle }}">{{ 'products.product.compare' | t }}</button>
												</div>
												{% endif %}
												{% include 'ask-a-question-form' %}
												{%- if block.settings.delivery_return -%}
												<div class="delivery_return">
													<div class="delivery_return-title"><i class="bwp-icon-package"></i>{{ block.settings.delivery_return_title }}</div>
													<div class="delivery_return-content">
														<div class="delivery_return-close full"></div>
														<div class="content-shipping">
															<div class="delivery_return-close"></div>
															{%- if block.settings.delivery_return_heading -%}
																<div class="title_shiping"><h2>{{ block.settings.delivery_return_heading }}</h2></div>
															{% endif %}
															{%- if block.settings.delivery_return_content -%}
															<div class="product-shipping">
																{{ block.settings.delivery_return_content }}
															</div>
															{% endif %}
														</div>
													</div>
												</div>
												{% endif %}
												{% if block.settings.social_sharing_products %}
													{% assign full_url = request.host | append: request.path %}
													<div class="product_share">
														<div class="product_share_label"><i class="feather-share-2"></i>{{ block.settings.product_share_title }}</div> 
														<div class="product_share-content">
															<div class="product_share-close full"></div>
															<div class="content-product_share">
																<div class="product_share-close"></div>
																<div class="product_share-social">
																	<div class="product_share-copy" data-text="{{ 'products.product.share_copy' | t }}">
																		<label>{{ 'products.product.share_copy' | t }}</label>
																		<div class="content">
																			<input class="url_share" type="text" value="{{ full_url }}">
																			<button>copy</button>
																		</div>
																	</div>
																	<div class="product_share-icon">
																		<label>{{ block.settings.product_share_title }}</label>
																		{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endif %}
											</div>
										{%- when 'estimated_delivery' -%}
											{%- for variant in product.variants -%}
												{% if variant.incoming %}
													{%- assign incoming = true -%}
												{%- endif -%}
											{%- endfor -%}
											{% if current_variant.available %}
												<div class="section-estimated_delivery"{%- if incoming -%} data-incoming="true"{%- endif -%}{% if block.settings.product_estimated_delivery_margin != blank %} style="margin:{{ block.settings.product_estimated_delivery_margin }}"{% endif %}>
													<div class="estimated_delivery"{%- if current_variant.next_incoming_date and current_variant.inventory_quantity == 0 -%} data-date_now="{{ current_variant.next_incoming_date }}"{%- endif -%} data-number_day="{%- if current_variant.incoming and current_variant.inventory_quantity == 0 -%}{{ block.settings.estimated_delivery_day_preorder }}{%- else -%}{{ block.settings.estimated_delivery_day }}{%- endif -%}">
														<div class="icons"><i class="bwp-icon-estimated_delivery"></i></div>
														<div class="content">{{ 'products.product.time_delivery_html' | t }}</div>
													</div>
												</div>
											{%- endif -%}
										{%- when 'buy_with' -%}
											{%- if buy_it_with != 0 -%}
												<div class="buy_it_with"{% if block.settings.product_buy_with_margin != blank %} style="margin:{{ block.settings.product_buy_with_margin }}"{% endif %}>
													{% paginate collections.all.products by 1000 %}
														{% for product in collections.all.products %}
															{%- if product.id == buy_it_with -%}
																<div class="content-left">
																	<h2>{{ 'products.product.buy_it_with' | t }}</h2>
																	<div class="name-products"><a href="{{ product.url }}">{{ product.title }}</a></div>
																	<div class="product-price">{{ product.price | money }}</div>
																	<a class="view-product" href="{{ product.url }}" >{{ 'products.product.view_product' | t }}</a>
																</div>
																<div class="content-right">
																	<div class="product-thumb">
																		<a href="{{ product.url }}">
																			{% include 'img-global' with image: product.featured_image, class: "featured-banner__img", effect: "fade-in" %}
																		</a>
																	</div>
																</div>
															{%- endif -%}
														{%- endfor -%}
													{% endpaginate %}
												</div>
											{%- endif -%}
										{%- when 'buy_more' -%}
											{%- assign collection = block.settings.buy_more_collection -%}
											{%- assign discount = false -%}
											{%- assign disible = false -%}
											{%- for product_discount in collections[collection].products -%}
												{%- if product_discount.id == product.id -%}
													{%- assign discount = true -%}
												{%- endif -%}
											{%- endfor -%}
											{%- if discount -%}
											{%- for variant in product.variants -%}
												{% assign number_variant = number_variant | plus: 1 %}
											{%- endfor -%}
											<form method="post" id="buy_more_form" action="/cart/add" enctype="multipart/form-data" novalidate="novalidate">
												<input type="hidden" name="form_type" value="product">
												<input name="items[][quantity]" type="number" value="{{ block.settings.buy_more_quatily }}" class="hide hidden">
													{%- for variant in product.variants -%}
														{%- if forloop.first -%}
															<input name="items[][id]" type="hidden" value="{{ variant.id  }}">
														{%- endif -%}
													{%- endfor -%}
												{% include 'square' %}
												<div class="buy_more" data-quatily="{{ block.settings.buy_more_quatily }}"{% if block.settings.product_buy_more_margin != blank %} style="margin:{{ block.settings.product_buy_more_margin }}"{% endif %}>
													<div class="buy_more-content">
														{%- if block.settings.buy_more_title -%}
															<div class="title">{{ block.settings.buy_more_title }}</div>
														{%- endif -%}
														<div class="discount-content">
															{%- if block.settings.buy_more_content -%}
															<div class="content-left">
																{{ block.settings.buy_more_content }}
															</div>
															{%- endif -%}
															<div class="content-right">
																<button type="submit" class="btn--add-to-cart buy-more-cart">{{ 'products.product.add_discount' | t }}</button>
															</div>
														</div>
													</div>
												</div>
											</form>
											{%- endif -%}
										{%- when 'trust_barget' -%}
											<div class="product_trust_barget"{% if block.settings.product_trust_barget_margin != blank %} style="margin:{{ block.settings.product_trust_barget_margin }}"{% endif %}>
												{%- if block.settings.trust_barget_title -%}
													<div class="title">{{ block.settings.trust_barget_title }}</div>
												{%- endif -%}
												<div class="content_trust_barget">
													{%- if block.settings.image -%}
														<img class="trust_barget_img lazyload" data-src="{{ block.settings.image | image_url:width:block.settings.image.width,height:block.settings.image.height }}" alt="{{ block.settings.image.alt | escape }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" />
													{%- endif -%}
												</div>
											</div>
										{%- when 'buy_together' -%}
											{%- include 'image-buy-together' -%}
										{%- when 'product_sku' -%}
											{%- if product.selected_or_first_available_variant.sku != blank -%}
											<div class="product__organization">
												<div class="product__organization__label">{{ 'products.product.sku' | t }}</div>
												<div class="js-variant-sku product__organization__text">{{ product.selected_or_first_available_variant.sku }}</div>
											</div>
											{%- endif -%}
										{%- when 'product_type' -%}
											{%- if product.type contains "label" -%}
											{%- elsif product.type != blank -%}
												<div class="product__organization">
													<div class="product__organization__label">{{ 'products.product.type' | t }}</div>
													<div class="product__organization__text">{{ product.type }}</div>
												</div>
											{%- endif -%}
										{%- when 'product_collection' -%}
											{%- assign limit = block.settings.product_coll_limit | plus:0 -%}
											<div class="product__organization">
												{%- if block.settings.product_collection_title != blank -%}
													<div class="product__organization__label">{{ block.settings.product_collection_title }}</div>
												{%- endif -%}
												{% for collection in product.collections limit:limit %}
													{%- if forloop.last -%}
														<a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
													{%- else -%}
														<a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }},</a> 
													{%- endif -%}
												{% endfor %}
											</div>
										{%- when 'product_tags' -%}
											{%- assign limit = block.settings.product_tags_limit -%}
											<div class="product__organization">
												{%- if block.settings.product_tags_title != blank -%}
													<div class="product__organization__label">{{ block.settings.product_tags_title }}</div>
												{%- endif -%}
												{% for tag in product.tags limit:limit %}
													{%- if forloop.last -%}
														<span>{{ tag }}</span>
													{%- else -%}
														<span>{{ tag }}, </span>
													{%- endif -%}
												{% endfor %}
											</div>
										{%- when 'product_tab' -%}
											{% include 'accordion_information' %}
										{%- when 'border' -%}
											<div class="border-product" style="margin: {{ block.settings.border_space }} ;border-top: {{ block.settings.border_height }}px solid {{ block.settings.border_color }} "></div>
									{%- endcase -%}
								{%- endfor -%}
							</div>
						</div>
					</div>
					<div class="close-sticky"></div>
				</div>
				{% if section.settings.show_sidebar %}
					<div class="toggle-sidebar">{{ 'products.product.sidebar' | t }}</div>
					<div class="bwp-single-sidebar {{ section.settings.position_sidebar }} col-12 col-xl-3 col-lg-12 col-md-12">
						<div class="toggle-sidebar top"><span></span></div>
						<div class="bwp-single-sidebar-content">
							{%- for block in section.blocks -%}
								{%- case block.type -%}
									{%- when 'policy' -%}
										<div class="policy-sidebar" style="background:{{ block.settings.background_policy_color }};padding:{{ block.settings.padding_policy }}">
											{% if block.settings.svg_policy != blank or block.settings.img_policy != blank %}
												<div class="image">
													{% if block.settings.type_image_policy == "image" %}
														<img class="featured-banner__img lazyload fade-in" src="{{ block.settings.img_policy | image_url:width:block.settings.img_policy.width,height:block.settings.img_policy.height }}" alt="{{ block.settings.img_policy.alt | escape }}" width="{{ block.settings.img_policy.width }}" height="{{ block.settings.img_policy.height }}" />
													{%- else -%}
														{{ block.settings.svg_policy }}
													{%- endif -%}
												</div>
											{%- endif -%}
											{% if block.settings.title_policy != blank or block.settings.desc_policy != blank %}
											<div class="content">
												{% if block.settings.title_policy != blank %}
													<div class="title">{{ block.settings.title_policy }}</div>
												{%- endif -%}
												{% if block.settings.desc_policy != blank %}
													<div class="description">{{  block.settings.desc_policy }}</div>
												{%- endif -%}
											</div>
											{%- endif -%}
										</div>
								{%- endcase -%}
							{%- endfor -%}
							{% if section.settings.collection_sidebar != blank %}
								{%- assign collection = collections[section.settings.collection_sidebar] -%}
								{%- assign limit = section.settings.collection_limit | plus:0 -%}
								<div class="collection-sidebar">
									{% if section.settings.heading_sidebar != blank %}
										<div class="title">{{ section.settings.heading_sidebar }}</div>
									{%- endif -%}
									<div class="content">
										{%- for product in collection.products limit:limit -%}
											<div class="product">
												<div class="image">
													<a href="{{ product.url }}">
														{% include 'img-global' with image: product.featured_image, class: "img-fluid", effect: "fade-in" %}
													</a>
												</div>
												<div class="info">
													{%- if settings.product_card_review -%}
														<div class="product-card__review product-review">
															<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
														</div>
													{%- endif -%}
													<h3 class="product-sidebar__name">
														<a class="product-sidebar__name-link" href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
													</h3>
													<div class="price">
														{%- if product.compare_at_price -%}
															<span class="price-regular">{{ product.compare_at_price | money }}</span> <span class="price-sale">{{ product.price | money }}</span>
														{%- else -%}
															<span class="product-price">{{ product.price | money }}</span>
														{%- endif -%}
													</div>
												</div>
											</div>
										{%- endfor -%}
									</div>
								</div>
							{%- endif -%}
						</div>
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>
{% if section.settings.show_sticky_cart %}
	{% include 'sticky-cart' %}
{% endif %}
<div id="JsQty"></div>
<div id="CartTemplate"></div>
{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

{% schema %}
{
  "name": "Main Product",
  "settings": [
	{
      "type": "checkbox",
      "id": "product_button_wishlist",
      "label": "Show Button Wishlist",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "product_button_compare",
      "label": "Show Button Compare",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_sticky_cart",
      "label": "Enable sticky cart",
      "default": true
    },
	{
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "media_layout",
      "label": "Gallery layout",
      "default": "thumbnails",
      "options": [
        {
          "value": "stacked",
          "label": "Grid 1 columns"
        },
        {
          "value": "gird-mordern",
          "label": "Gird Mordern"
        },
		{
          "value": "gird-two",
          "label": "Gird 2 Column"
        },
		{
          "value": "gird-sticky",
          "label": "Gird sticky"
        },
		{
          "value": "slider",
          "label": "Slider full-width"
        },
		{
          "value": "lagre-gallery",
          "label": "Without Thumbnails"
        },
		{
          "value": "thumbnails",
          "label": "Thumbnails"
        }
      ]
    },
	{
      "type": "select",
      "id": "position_thumbnails",
      "label": "Position Thumbnails of Gallery layout Thumbnails",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
		{
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
	{
	  "type": "range",
	  "id": "thumbnail_count",
	  "min": 1,
	  "max": 6,
	  "step": 1,
	  "label": "Thumbnail Count",
	  "default": 4
	},
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
	{
      "type": "header",
      "content": "Sidebar"
    },
	{
      "type": "checkbox",
      "id": "show_sidebar",
      "label": "Show sidebar",
      "default": false
    },
	{
      "type": "select",
      "id": "position_sidebar",
      "label": "Position Sidebar",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
	{
      "type": "text",
      "id": "heading_sidebar",
      "label": "Heading collection sidebar",
      "default": "Top rate products"
    },
	{
      "type": "collection",
      "id": "collection_sidebar",
      "label": "Collection sidebar"
    },
	{
      "type": "number",
      "id": "collection_limit",
      "label": "Collection Limit",
	  "default": 4
    }
  ],
	"blocks": [
		{
            "type": "@app"
        },
		{
            "type": "rating",
            "name": "Product rating",
            "limit": 1,
            "settings": [
				{
					"type": "paragraph",
					"content": "To display a rating, add a product reviews app.\nGo to Theme settings -> Integrated apps -> Product reviews to choose the app which you are using."
				}
            ]
        },
		{
            "type": "title",
            "name": "Product title",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_title_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				}
            ]
        },
		{
            "type": "price",
            "name": "Product price",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_price_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				}
            ]
        },
		{
            "type": "vendor",
            "name": "Product vendor",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_vendor_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				}
            ]
        },
		{
            "type": "inventory",
            "name": "Product inventory",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_inventory_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				}
            ]
        },
		{
            "type": "product_count_sale",
            "name": "Product count sale",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_count_sale_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
					"type": "header",
					"content": "Product count sale"
				},
				{
					"type": "text",
					"id": "product_sale_count",
					"label": "Sale count",
					"default": "30-40",
					"info": "The number of sale will vary during this interval. Example: 30-40"
				},
				{
					"type": "text",
					"id": "product_sale_time",
					"label": "Sale Time",
					"default": "5-20",
					"info": "The time of sale will vary during this interval. Example: 30-40"
				},
				{
					"type": "text",
					"id": "product_count_sale_text",
					"label": "Product Sale text",
					"default": "sold in last"
				},
				{
					"type": "text",
					"id": "product_count_sale_unit",
					"label": "Product Sale Unit",
					"default": "hours"
				}
            ]
        },
		{
            "type": "product_real_time",
            "name": "Real time visitors",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_real_time_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
					"type": "header",
					"content": "Real time visitors"
				},
				{
					"type": "text",
					"id": "product_real_time_count",
					"label": "Real time count",
					"default": "30-40",
					"info": "The number of viewers will vary during this interval. Example: 30-40"
				},
				{
					"type": "text",
					"id": "product_real_time_change",
					"label": "Number change time",
					"default": "5000"
				},
				{
					"type": "text",
					"id": "product_real_time_text",
					"label": "Real time text",
					"default": "people are viewing this right now"
				}
            ]
        },
		{
            "type": "countdowns",
            "name": "Product countdowns",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_countdowns_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
					"type": "header",
					"content": "Product countdowns"
				},
				{
					"type": "text",
					"id": "product_countdown_title",
					"label": "Title CountDown",
					"default": "Hurry up! Sale ends in :"
				},
					{
					"type": "text",
					"id": "product_countdown_day",
					"label": "Text day",
					"default": "d"
				},
				{
					"type": "text",
					"id": "product_countdown_hour",
					"label": "Text hour",
					"default": "h"
				},
				{
					"type": "text",
					"id": "product_countdown_min",
					"label": "Text minutes",
					"default": "m"
				},
				{
					"type": "text",
					"id": "product_countdown_sec",
					"label": "Text second",
					"default": "s"
				}
            ]
        },
		{
            "type": "shipping_policy",
            "name": "Product shipping policy",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_shipping_policy_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				}
			]
        },
		{
            "type": "form_atc",
            "name": "Form Add to cart",
            "limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Product options form"
				},
				{
					"type": "checkbox",
					"id": "product_available_enable",
					"label": "Show left stock",
					"default": true
				},
				{
					"type": "select",
					"id": "product_selector",
					"label": "Picker type",
					"options": [
						{
							"value": "radio",
							"label": "Button"
						},
						{
							"value": "checkbox",
							"label": "Check box"
						},
						{
							"value": "select",
							"label": "Dropdown"
						}
					]
				},
				{
					"type": "header",
					"content": "Total products sold"
				},
				{	
					"type": "number",
					"id": "total_product_solid",
					"label": "Count Total products sold",
					"default": 80,
					"info":"used to make the progress bar left in stock"
				},
				{
					"type": "header",
					"content": "Product quantity form"
				},
				{
					"type": "checkbox",
					"id": "quantity_enabled",
					"label": "Show quantity picker",
					"default": true
				},
				{
					"type": "select",
					"id": "quantity_selector",
					"label": "Quantity type",
					"options": [
						{
						  "value": "text",
						  "label": "Text"
						},
						{
						  "value": "select",
						  "label": "Dropdown"
						}
					]
				},
				{
					"type": "header",
					"content": "Buy now button"
				},
				{
					"type": "checkbox",
					"id": "enable_payment_button",
					"label": "Show dynamic checkout button",
					"info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_back_in_stock",
					"label": "Show Back in stock",
					"default": true
				},
				{
					"type": "text",
					"id": "back_in_stock_title",
					"label": "Back in stock label",
					"default": "Notify me when available"
				},
				{
					"type": "text",
					"id": "back_in_stock_title_form",
					"label": "Back in stock title",
					"default": "Back in stock alert"
				},
				{
					"type": "textarea",
					"id": "back_in_stock_content",
					"label": "Back in stock content",
					"default": "We will send you a notification as soon as this product is available again."
				}
            ]
        },
		{
            "type": "pick_up",
            "name": "Product pick up",
            "limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "See instructions for Product pick up [Document](https:\/\/shopify.kretosssite.com\/document\/kretoss\/product_pages.html#section4)"
				},
				{
					"type": "text",
					"id": "product_pick_up_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				}
			]
        },
		{
            "type": "ask-share",
            "name": "Form ask and share",
            "limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_ask-share_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
				  "type": "header",
				  "content": "Ask a question"
				},
				{
				  "type": "checkbox",
				  "id": "social_ask_a_question",
				  "label": "Enable Ask a question",
				  "default": true
				},
				{
				  "type": "text",
				  "id": "ask_a_question_title",
				  "label": "Heading",
				  "default": "Ask a question"
				},
				{
				  "type": "header",
				  "content": "Delivery & Return"
				},
				{
				  "type": "checkbox",
				  "id": "delivery_return",
				  "label": "Show Delivery & Return",
				  "default": true
				},
				{
				  "type": "text",
				  "id": "delivery_return_title",
				  "label": "Heading",
				  "default": "Delivery & Return"
				},
				{
				  "type": "text",
				  "id": "delivery_return_heading",
				  "label": "Title Content",
				  "default": "Shipping info"
				},
				{
				  "type": "html",
				  "id": "delivery_return_content",
				  "label": "Content"
				},
				{
				  "type": "header",
				  "content": "Share"
				},
				{
				  "type": "checkbox",
				  "id": "social_sharing_products",
				  "label": "Enable product sharing",
				  "default": true
				},
				{
				  "type": "text",
				  "id": "product_share_title",
				  "label": "Heading",
				  "default": "Share"
				}
            ]
        },
		{
            "type": "estimated_delivery",
            "name": "Estimated delivery",
            "limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "See instructions for Estimated delivery [Document](https:\/\/shopify.kretosssite.com\/document\/kretoss\/product_pages.html#section3)"
				},
				{
					"type": "text",
					"id": "product_estimated_delivery_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
				  "type": "number",
				  "id": "estimated_delivery_day",
				  "label": "Estimated delivery days",
				  "default": 5
				},
				{
				  "type": "number",
				  "id": "estimated_delivery_day_preorder",
				  "label": "Estimated delivery days for product pre order",
				  "default": 10
				}
			]

        },
		{
			"type": "buy_with",
			"name": "buy it with",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "See instructions for buy with it [Document](https:\/\/shopify.kretosssite.com\/document\/kretoss\/product_pages.html#section1)"
				},
				{
					"type": "text",
					"id": "product_buy_with_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				}
			]
		},
		{
			"type": "buy_more",
			"name": "Buy more",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "See instructions for buy more [Document](https:\/\/shopify.kretosssite.com\/document\/kretoss\/product_pages.html#section2)"
				},
				{
					"type": "text",
					"id": "product_buy_more_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
				  "type": "text",
				  "id": "buy_more_title",
				  "label": "Buy more title",
				  "default": "BUY MORE SAVE MORE!"
				},
				{
				  "type": "collection",
				  "id": "buy_more_collection",
				  "label": "List Product have discounts"
				},
				{
				  "type": "textarea",
				  "id": "buy_more_content",
				  "label": "Content discount",
				  "default": "5 item(s) get 10% OFF"
				},
				{
				  "type": "number",
				  "id": "buy_more_quatily",
				  "label": "number of products to get a discount",
				  "default": 5
				}
			]
		},
		{
			"type": "trust_barget",
			"name": "Trust Barget",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_trust_barget_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
				  "type": "text",
				  "id": "trust_barget_title",
				  "label": "Heading",
				  "default": "Guarantee safe & secure checkout"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		},
		{
			"type": "buy_together",
			"name": "Bought Together",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "product_buy_together_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
				  "type": "text",
				  "id": "buy_together_title",
				  "label": "Heading",
				  "default": "Frequently Bought Together"
				}
			]
		},
		{
			"type": "product_sku",
			"name": "Product sku",
			"limit": 1
		},
		{
			"type": "product_type",
			"name": "Product type",
			"limit": 1
		},
		{
			"type": "product_collection",
			"name": "Product collection",
			"limit": 1,
			"settings": [
				{
				  "type": "text",
				  "id": "product_collection_title",
				  "label": "Heading",
				  "default": "Categories:"
				},
				{
				  "type": "range",
				  "id": "product_coll_limit",
				  "min": 2,
				  "max": 10,
				  "step": 1,
				  "unit": "pcs",
				  "label": "Limit",
				  "default": 6
				}
			]
		},
		{
			"type": "product_tags",
			"name": "Product tags",
			"limit": 1,
			"settings": [
				{
				  "type": "text",
				  "id": "product_tags_title",
				  "label": "Heading",
				  "default": "Tags:"
				},
				{
				  "type": "range",
				  "id": "product_tags_limit",
				  "min": 2,
				  "max": 10,
				  "step": 1,
				  "unit": "pcs",
				  "label": "Limit",
				  "default": 6
				}
			]
		},
		{
			"type": "product_tab",
			"name": "Product tab",
			"settings": [
				{
					"type": "text",
					"id": "product_product_tab_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
					"type": "select",
					"id": "product_tab_selector",
					"label": "Product tab type",
					"options": [
						{
						  "value": "description",
						  "label": "Description"
						},
						{
						  "value": "review",
						  "label": "Review"
						},
						{
						  "value": "custom",
						  "label": "Custom"
						}
					]
				},
				{
					"type": "text",
					"id": "tab_title",
					"label": "Tab Title"
				},
				{
					"type": "textarea",
					"id": "tab_content",
					"label": "Tab Content.Use only when selecting the custom tab"
				}
			]
		},
		{
			"type": "policy",
			"name": "Policy Sidebar",
			"settings": [
				{
					"type": "text",
					"id": "product_policy_margin",
					"label": "Margin",
					"info": "Example(top left bottom right): 15px 15px 15px 15px"
				},
				{
					"type": "color",
					"id": "background_policy_color",
					"label": "Background color",
					"default": "#f7f7f7"
				},
				{
					"type": "text",
					"id": "padding_policy",
					"label": "Padding",
					"default": "25px 20px"
				},
				{
					"type": "select",
					"id": "type_image_policy",
					"label": "Image type",
					"options": [
						{
						  "value": "image",
						  "label": "Image"
						},
						{
						  "value": "svg",
						  "label": "SVG"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "img_policy",
					"label": "Image policy"
				},
				{
					"type": "html",
					"id": "svg_policy",
					"label": "SVG policy"
				},
				{
					"type": "text",
					"id": "title_policy",
					"label": "Title policy"
				},
				{
					"type": "text",
					"id": "desc_policy",
					"label": "Description policy"
				}
			]
		},
		{
			"type": "border",
			"name": "Border",
			"settings": [
				{
					"type": "color",
					"id": "border_color",
					"label": "Border color"
				},
				{
					"type": "number",
					"id": "border_height",
					"label": "Border height"
				},
				{
					"type": "text",
					"id": "border_space",
					"label": "Border space",
					"default": "15px 0"
				}
			]
		}
	],
	"templates": ["product"],
	"presets": [
		{
			"name": "Main Product",
			"blocks": [
                {
                    "type": "rating"
                },
                {
                    "type": "title"
                },
                {
                    "type": "price"
                },
                {
                    "type": "vendor"
                },
				{
                    "type": "inventory"
                },
				{
                    "type": "product_count_sale"
                },
				{
                    "type": "product_real_time"
                },
				{
                    "type": "countdowns"
                },
				{
                    "type": "shipping_policy"
                },
				{
                    "type": "pick_up"
                },
				{
                    "type": "form_atc"
                },
				{
                    "type": "ask-share"
                },
				{
                    "type": "estimated_delivery"
                },
				{
                    "type": "buy_with"
                },
				{
                    "type": "buy_more"
                },
				{
                    "type": "trust_barget"
                }
            ]
		}
    ]
}
{% endschema %}
